[2020-01-14 03:05] duanyytop opened #1 "RangeError (byteOffset): Invalid value: Not in range 0..28, inclusive: 36"
dart:typed_data                                     _ByteDataView.getUint32
package:pointycastle/src/ufixnum.dart 221:28        unpack32
package:pointycastle/src/ufixnum.dart 450:17        Register64.unpack
package:pointycastle/digests/blake2b.dart 216:13    Blake2bDigest._compress
package:pointycastle/digests/blake2b.dart 144:9     Blake2bDigest.update
package:ckb_sdk_dart/src/crypto/blake2b.dart

[2020-01-16 01:52] #1 closed

[2020-02-04 08:06] DeddyH opened #2 "ECDASigner seems to work incorrectly using secp384r1"
I am trying to port some C#-Code using BouncyCastle to dart. A comparison of all calculated data did not show any difference, but the behaviour differs: the C#-program verifies the hash, my dart-app doesn't. Possibly this is my own mistake, but I think I ported everything correctly. To break it down, here is some code with the original data:

[code]

[2020-03-12 12:05] fajarvm opened #3 "Support for HKDF (RFC 5869)"
Is there any plan to support the HKDF as described in the RFC 5869?

[2020-03-19 10:34] fajarvm commented on #3
Made a pull request for this support: https://github.com/bcgit/pc-dart/pull/4

[2020-03-24 11:16] mwcw commented on #3
Merged.. Thanks!.

MW

[2020-03-24 11:16] #3 closed

[2020-05-18 19:21] AKushWarrior opened #7 "Folding steel_crypt into pointycastle"
Hi there! My name is Aditya Kishore, and I'm the author of [steel_crypt](https://github.com/AKushWarrior/steel_crypt). I came here today to discuss something that I've been mulling over for a while now.

### Some background

I created steel_crypt last year to fill a need. There was no cryptography package with all the features of pointycastle that had adequate documentation and maintenance. I set

[2020-05-18 20:49] AKushWarrior opened #8 "Publish to/update for pub.dev"
https://pub.dev is the central repository for all Dart packages. Without pub, this repository cannot be used by dart code that desires to have control over versioning.

Currently, https://pub.dev/packages/pointycastle package still points to the old GitHub repository and the HKDF commit has not been uploaded.

[2020-05-18 21:08] AKushWarrior opened #9 "Enable CI for pull requests"
There should be a CI that runs tests and https://pub.dev/packages/pana on all PRs. This would allow you to evaluate the contribution of any given package.

[2020-05-19 23:11] mwcw commented on #7
Hi Aditya,

We're certainly interested, would you be able to start with a few pull requests on the mirror, perhaps one per algorithm with the associated tests?

If that all goes well we'd be happy to organise more general access.

Thanks,

[2020-05-20 05:21] AKushWarrior commented on #7
Alright, will do over the next few days.

[2020-05-20 14:31] AKushWarrior commented on #8
Maybe @stevenroose needs to transfer ownership of PointyCastle on pub?

[2020-05-21 01:49] hoylen commented on #8
+1

Without publishing a new release to [pub.dev](https://pub.dev/packages/pointycastle), all the links point to the old repository and users might not realise development is now being done under this new repository. I see people are still posting new issues on the old repository. The migration to the _Legion of the Bouncy Castle_ won't be complete until it can publish a new version to pub.dev.

[2020-05-23 16:27] stevenroose commented on #8
Sure. I'm open to that. I have been in e-mail communication with the BC team. If the same people that I've been in contact with contact me through the same way there (I don't know their GitHub handles so I can't verify their identity here), we can discuss pub ownership.

Initially I thought that for the first few new releases, they would prepare the release and I could publish it until I felt that

[2020-05-23 22:59] hoylen commented on #8
Yes, if you are still around and available, then a gradual transition with you doing the initial few releases makes sense.

A dummy release would be good too, since (from the outside) it appears the BC Team is taking time to get up to speed.

[2020-05-24 08:41] Sorunome opened #13 "Error when decrypting or encrypting unpadded AES-CTR"
When trying to decrypt or encrypt unpadded AES-CTR this library will throw an error, if the provided data isn't fully block-sized. The example given here uses the dart "encrypt" package, but I got told that it was an issue within pointycastle and that I should report it here:

[code]

The error is:

[code]

As work-around you can manually 0-pad your input to be of full block-length and afterwards

[2020-05-24 13:29] AKushWarrior commented on #8
I think that sounds like a good idea.

@mwcw, you've been managing the repo (for the most part). Thoughts?

[2020-05-25 09:53] mwcw commented on #8
Hi,

@stevenroose I will send you an email.

Just as a note:
We are just getting a handle on how to manage this project, so any suggestions are most welcome.

[2020-05-25 14:39] AKushWarrior commented on #13
It's not a PointyCastle issue; this library exposes all the primitives you need to encrypt as a stream cipher. The library ALSO provides primitives to use these modes as block ciphers.

The author of that lib implemented CFB, OFB, and CTR using the block cipher version; see my comment in that issue.

[2020-05-25 15:33] Sorunome commented on #13
Thanks a lot for the help!

[2020-05-25 15:33] #13 closed

[2020-05-25 19:45] AKushWarrior commented on #8
@mwcw I'm thinking of writing a full guide on using this library. Would that help you?

[2020-05-25 23:08] mwcw commented on #8
Yes please!

That would also help more people than just us.

Thank you for offering.

[2020-05-25 23:09] AKushWarrior commented on #8
Okay :).

After I finish with ChaCha20-Poly1305, I'll get started with that.

[2020-05-26 03:33] AKushWarrior commented on #8
@mwcw Starting the guide now. Regarding the original topic of this issue, my latest PR has that (with some other stuff as well).

[2020-05-26 05:00] AKushWarrior opened #15 "Write complete guide for usage (Documentation issue)"
This library has always had an issue with documentation. I figured that I might take a crack at the issue; my work is at https://akushwarrior2.gitbook.io/pointycastle-a-guide/.

Not especially notable or anything, but I figured there should be a place for you guys to track my progress.

[2020-05-26 05:49] mwcw commented on #2
Hi

We tried to load the public key using the bc-java api and it indicates that the public key is not on the curve.

[2020-05-26 05:49] #2 closed

[2020-05-26 07:24] mwcw commented on #9
Ok

I have added travis ci and included pana in the build steps.

Let me know what you think?

I'll close this for now.

MW

[2020-05-26 07:33] mwcw commented on #9
Stop the press...

Actually I have just looked at the example workflow.

MW

[2020-05-26 13:31] AKushWarrior commented on #9
Agghhhh... I can't view CI on mobile.

I'll take a look when I'm back on my computer.

[2020-05-26 13:34] AKushWarrior commented on #9
okay I just took a look. I basically did the same thing through GitHub actions instead of Travis; what you have now should work fine...

[2020-05-26 13:34] #9 closed

[2020-05-26 13:45] AKushWarrior opened #16 "Follow "Effective Dart" Guidelines"
https://travis-ci.org/github/bcgit/pc-dart/jobs/691193088

As you can see here, we have hundreds of lints across nearly every class. Given that these lints factor into the pub.dev score, we should probably clean up a bit.

[2020-05-27 01:29] hoylen commented on #8
Some introductory topics are already covered by the [tutorials](https://github.com/bcgit/pc-dart#user-content-tutorials) at the bottom of the README file: using Pointy Castle for digest and HMAC calculation, AES encryption/decryption, RSA signing/verification and encryption/decryption.

For your "full guide" it would be good if you can focus on the many other topics they do not yet cover. Also _da

[2020-05-27 03:57] AKushWarrior commented on #8
dartdocs would be good, but that's a LOT of docs I'd have to write.

[2020-05-27 04:08] AKushWarrior commented on #8
RE tutorials: Maybe I'll link to them, or copy paste them over.

I really want people to have one site to go to when looking for resources.

[2020-05-27 04:17] mwcw commented on #16
Agree, I was looking through them.
I will start picking them off when I can.

[2020-05-27 04:17] #16 closed

[2020-05-27 04:23] hoylen commented on #8
Links are better. A copy can get out of date, requires more effort to maintain and can confuse people into thinking there are two different sets of tutorials (especially if they start to diverge).

What "one site" were you thinking of?

The first place people would look is the documentation linked from the [package on pub.dev](https://pub.dev/packages/pointycastle). Hence my desire for publishing

[2020-05-27 04:40] AKushWarrior commented on #8
Right. Maybe migrate this to the "write a guide" issue, or open a new "dartdocs" issue.

[2020-05-27 04:42] AKushWarrior commented on #8
The one site would be a pointycastle.github.io link or something, which we put on top of the README. The site I created is kind of a pilot to see if the idea works.

[2020-05-27 23:23] AKushWarrior commented on #15
that site I put together isn't an end-all be-all by any means. It's just a cohesive way of dealing with the documentation issue. The best thing to do would be to use dartdocs, but that will take a while, so we need a stand-in. (@mwcw dartdocs are like a Dart analogue for javadocs. They're automatically compiled and displayed in a [generated API reference](https://pub.dev/documentation/pointycastle

[2020-05-27 23:25] AKushWarrior opened #17 "Remove pointycastle from the front of every library's name"
To help with performance, each algorithm and cipher in this package is split into a separate "library". Each library name, for some reason, has pointycastle affixed to the front. This makes browsing the [API Reference](https://pub.dev/documentation/pointycastle/latest/) needlessly difficult.

Example: https://github.com/bcgit/pc-dart/blob/21569537015d7f1b1b6373499ab19fc4624c85f7/lib/stream/sic.dar

[2020-05-28 00:41] AKushWarrior commented on #17
In the given example, the new code would look like:
[code]

[2020-05-28 02:42] mwcw commented on #17
Ok

Lets look at it after I am finished with https://github.com/bcgit/pc-dart/pull/14

MW

[2020-05-28 03:41] AKushWarrior commented on #17
Yup it should be an easy fix.

I can write a macro if that would help.

[2020-05-28 15:35] AKushWarrior commented on #8
@stevenroose is there any progress on the *original* topic of this issue? The repository has now diverged pretty significantly from the current pub release.

[2020-05-28 18:05] AKushWarrior opened #18 "Separate KeccakDigest and SHA3Digest into 2 files"
In pointycastle, you can import each file individually, so it doesn't make sense to clump two separate algorithms in the same file.

That named constructor setup was because I didn't want to mess things up refactoring into 2 classes. Now that you guys have done that (thanks to @meganwoods and @mwcw), there's no reason to keep SHA-3 and Keccak together.

[2020-05-29 10:26] mwcw commented on #18
Ok I have done this.

At the expense of sounding like a C++ / Java developer I struggled a bit with the lack a notion of protected fields. I ended up just making a copy and rolling the sha3 mods into one of them.

Let me know what you think and yes the two committers are both me.

MW

[2020-05-29 10:26] #18 closed

[2020-06-03 03:36] AKushWarrior commented on #17
@mwcw Just realized you finished with #14. Do you want me to PR for this?

[2020-06-03 03:47] mwcw commented on #17
Hi

Yes please I suspect it will be a big one.

We really appreciate your contributions to this api.

Thanks

MW

[2020-06-03 14:26] AKushWarrior opened #19 "Add GCM"
In steel_crypt, I pulled GCM from a fork of PointyCastle.

Here's the associated PR: https://github.com/PointyCastle/pointycastle/pull/153

[2020-06-05 23:18] AKushWarrior opened #20 "Add Threefish + Skein"
As of right now, AES is the only available block cipher. Adding other ciphers could help us in the vague sense that providing more secure primitives is never a bad thing. Threefish is generally regarded as being secure.

On top of that, implementing Threefish would be a allow us to implement Skein as well, which is a well regarded hashing function.

[2020-06-05 23:19] AKushWarrior commented on #19
I'll rebase + touch up this PR and notify when done.

[2020-06-06 05:22] AKushWarrior opened #22 "Add AES-OCB"
Right now, we have only one authenticated block cipher mode of operation (GCM).

OCB is on par with GCM in security level, and is licensed freely for use in open source projects.

[2020-06-06 14:43] AKushWarrior commented on #8
This repository is prepped for publishing. @stevenroose what would you need to publish it?

[2020-06-08 22:39] AKushWarrior commented on #20
Implementation links:
https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/engines/ThreefishEngine.java
https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/engines/SkeinEngine.java

[2020-06-08 22:42] AKushWarrior commented on #20
Since Threefish and Skein's implementations primarily use (signed) 64 bit integers, porting should largely be a 1:1, copy-paste type of situation.

[2020-06-08 22:43] AKushWarrior commented on #19
@mwcw this is done and ready for merging in the linked PR.

[2020-06-09 16:07] AKushWarrior opened #23 "Add Argon2 Password Hashing"
Argon2 is the closest thing to a standard in the password hashing space. It should be an option that we provide.

Implementation Link: https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/generators/Argon2BytesGenerator.java

[2020-06-10 20:17] AKushWarrior opened #24 "Non-nullable Migration"
Dart is migrating to Non-Nullable By Default. This should speed up PointyCastle significantly when it is compiled AOT, so we should begin migrating this library soon.

The feature is still in preview, so there's no hurry, but it's worth considering. We could use bc-kotlin as a model for the transition.

https://medium.com/dartlang/announcing-sound-null-safety-defd2216a6f3

[2020-06-12 04:48] mwcw commented on #19
Thanks..

I have merged the PR.

MW

[2020-06-12 04:48] #19 closed

[2020-06-12 04:58] mwcw commented on #17
Hi,

I am going to do this now.

We should look at a release after this.

MW

[2020-06-12 05:02] AKushWarrior opened #25 "Use fixnum instead of rolling custom solution"
https://pub.dev/packages/fixnum is written by the Dart team. Right now, we manually roll a solution for doing 32 bit ops in dart (which only has signed 64 bit ints). This is located in src/utils/ufixnum.dart. This WORKS, but doing 32 bit ops on 64 bit ints is syntactically confusing and doesn't make very good use of the type system. Further, Java has 32 AND 64 bit ints, which means that transcribi

[2020-06-12 05:06] AKushWarrior commented on #17
Okay, I've been meaning to do this but never got around to it. If we're releasing, there's probably some housekeeping we should do on the README. I'll work on and commit that.

[2020-06-12 06:35] mwcw commented on #17
Ok it is a significant commit.

The tests still pass and it should sync up shortly.

Let me know how you go and we can close the ticket if everything is fine.

MW

[2020-06-12 14:18] #17 closed

[2020-06-12 14:20] AKushWarrior opened #27 "Pub run test fails in CI"
https://travis-ci.org/github/bcgit/pc-dart/builds/697600045

Something about command `pub run test` is failing. Will dig in to see what's up later.

[2020-06-13 01:11] mwcw commented on #27
I had a bit of a dig into it last night.

My machine: (Dart VM version: 2.8.4 (stable) (Wed Jun 3 12:26:04 2020 +0200) on "macos_x64")
I got the same failure once after running it several times.

On our internal CI we run: (Dart VM version: 2.8.2 (stable) (Unknown timestamp) on "linux_x64")

dart --version
pub get
pub run test
pub global activate pana
export PATH="$PATH":"$HOME/.pub-cache/bin"
pan

[2020-06-13 01:17] mwcw commented on #27
Further:

I manually triggered a build of master and the test runner did not fail.

https://travis-ci.org/github/bcgit/pc-dart/builds/697853171

[2020-06-13 01:20] AKushWarrior commented on #27
Very strange. I wonder what could cause inconsistency in tests with no network code?

[2020-06-13 01:25] mwcw commented on #27
Hi,

I am fairly certain that this is not us but here is the trace from my own development machine.

[code]

[2020-06-13 02:23] AKushWarrior commented on #27
In the CI, you could call `dart test/src/all_tests_web.dart`. That should run the whole test suite.

[2020-06-13 02:24] AKushWarrior commented on #27
I'm not at my machine so I can't confirm that this method works locally.

[2020-06-13 04:01] mwcw commented on #27
Yes it works locally.

[code]
etc.

[2020-06-13 04:07] AKushWarrior commented on #27
Maybe try that in Travis CI? Back at my computer now, so I can run any tests you need on Mac/Linux.

As far as I can tell, all_tests_web runs all of the relevant tests.

[2020-06-13 04:08] AKushWarrior commented on #23
I'm going to take this. Will report back in a few days...

[2020-06-13 04:13] mwcw commented on #27
I'll set it up..

[2020-06-13 17:20] AKushWarrior opened #29 "Create a standard internal library"
As I browse through the algorithms, I've noticed that certain files (src/utils.dart, src/ufixnum.dart, src/registry/registry.dart) are imported by nearly every algorithm. If we create a simple internal library that exports all of these files, we can probably clean up imports (import one thing instead of 3-4).

This library could also use typedefs to better match up with Java types (e.g. Array -> L

[2020-06-13 17:22] AKushWarrior commented on #25
This is important for other reasons, as well. Technically, integers in Dart are of an arbitrary precision, so behaviour of this library is unpredictable when compiled to Javascript. By using fixnum's integers, behaviour when compiled is guaranteed to match behaviour when run on the dart VM.

[2020-06-19 01:58] AKushWarrior commented on #25
@mwcw can you comment? I can do this, but there will be nontrivial overhead.

[2020-06-28 21:57] stevenroose commented on #8
I think I left a comment before. I'd like to get an e-mail frm the new maintainers here (we've been in contact before), for them to tag a new release and then I can review changes and publish. I'd like to do one or two more updates like this and if all goes well, I should feel ok to hand over the pub rights to the BC project entirely.

[2020-06-28 22:22] AKushWarrior commented on #8
Cool. @mwcw said somewhere that BC would look at release next week, so hopefully that email + tag is in the pipeline.

[2020-06-29 05:05] mwcw commented on #8
Hi @stevenroose

Had a quick chat to @dghbc would you have any objection to reviewing HEAD?

There is one more sync in the pipeline (c6d3a847ea6877b59b548b137aa77ce754b9b547) and it doesn't involve any
code changes.

Let me know what you think.

MW

[2020-06-29 05:29] AKushWarrior commented on #23
It's been more than a few days. Meant to start this a while ago, but I've been busy lately. Maybe I'll commit post-release?

[2020-06-30 10:48] chrisoftech opened #30 "Encode ECDSA KeyPair to PEM"
I am urgently in need of a documentation on how to encode ECDSA keypair to pem using pointy castle but with no success.

Am new to encryption and was able to generate ECDSA keypairs but stuck with encoding and decoding to and from PEM since i'll have to persist both keys as strings

Please point me to the right resource to look through @stevenroose

Any contributions are welcome

Thanks for your a

[2020-06-30 22:46] AKushWarrior commented on #30
Steven is no longer a maintainer on this project (he, presumably, is consumed with some other work). If you need further assistance, you should probably tag @mwcw, who is on the BouncyCastle team and is the lead maintainer of this project. You can also tag me; I'm not on the BouncyCastle team, but I am an active contributor to this library.

As of right now, it is not possible to encode/decode asy

[2020-07-01 20:51] chrisoftech commented on #30
Thanks for your response @AKushWarrior I appreciate it.
Same here couldn't find anything on encoding ECDSA to PEM. Notes on RSA encoding to PEM describes using [asn1lib](https://pub.dev/packages/asn1lib) with passed-in parameters from generated key and base64 encode the encodedBytes.

My challenge currently is knowing how to do this with ECDSA. Can you be of assistance please @mwcw

Any assistance

[2020-07-13 23:03] mwcw commented on #8
Hi,

There is another sync in the pipeline (79cfca6762a20896a94ea3e507d14a7f08a2bf8d) that fixes linter issues, that should occur within an hour of this post.

@stevenroose Let me know how yo go.

MW

[2020-07-14 19:00] Ephenodrom commented on #30
@chrisoftech Please checkout my dart package called "Basic Utils".

https://github.com/Ephenodrom/Dart-Basic-Utils

I added some functionality for elliptic curve key pairs :

[code]

The functionality is based on the pointy castle package. I think this should cover your request.

[2020-07-15 04:10] mwcw commented on #27
Hi

This has not manifested again, I will close this for now.

MW

[2020-07-15 04:11] #27 closed

[2020-07-15 04:23] mwcw commented on #29
Ok cool,

Lets see how it evolves..

MW

[2020-07-15 04:37] mwcw commented on #25
Hi,

The thing that needs to be watched out for is that crypto libraries tend to be become infrastructure components and if infrastructure components start to bring with them a tree of dependencies those dependencies can cause issues for library users.

I'll speak to @dghgit about it.

MW

[2020-07-15 04:48] mwcw commented on #24
Ok,

While it is good to be on the front foot, I think wait until the language feature is stable.

MW

[2020-07-15 15:41] AKushWarrior commented on #24
Agreed.

[2020-07-15 15:43] AKushWarrior commented on #25
I understand the issue you're referencing. On the other hand, fixnum is provided by the Dart team itself; some of those issues may be mitigated by the fact that the package is pretty conservative in releasing new versions.

[2020-07-15 20:33] chrisoftech commented on #30
Will take a look @Ephenodrom thanks a lot

[2020-07-16 04:13] AKushWarrior commented on #8
@stevenroose @mwcw I pulled the latest commit from GitHub and published it. This is purely for testing purposes; I'll discontinue it after we publish to https://pub.dev/packages/pointycastle.

This will make it easier for Steven to download and play around with our new changes, as well.

[2020-07-18 08:58] CDDelta opened #34 "Support RSA-PSS"
It would be great if this package had RSA-PSS support. It has been requested before [here](https://github.com/PointyCastle/pointycastle/issues/58).

I can try and work on implementing it if the team doesn't have the bandwidth to do so or is uninterested but I'm not at all familiar with cryptography so will need some guidance on how to do it.

Is porting the C# and Java implementation "simply" a ma

[2020-07-18 10:36] Ephenodrom commented on #30
@chrisoftech does this help? Can we close this issue?

[2020-07-18 12:59] chrisoftech commented on #30
Yes definitely. Closing myself @Ephenodrom

[2020-07-18 12:59] #30 closed

[2020-07-18 14:51] AKushWarrior commented on #34
It is USUALLY a matter of changing the syntax, but it can get tricky if you don't have any idea of what's going on under the hood.

You can definitely try it. Make sure you also port the tests from bouncycastle to the tests folder.

[2020-07-19 00:43] CDDelta commented on #34
Alright, I'll give it a go sometime next week. Thank you!

[2020-07-20 02:05] mwcw opened #35 "ASN1 Library"
Hi,

Ultimately we need to be able to support ASN1 encoded messages as CMS, X.509 and others.

We need an ASN1 library so we do not force dependencies on out users.

MW

[2020-07-20 13:00] Ephenodrom commented on #35
Why not use the existing asn1lib package? https://pub.dev/packages/asn1lib

I use this package in combination with the pointycastle package for my X509Utils class and it works really well.

I also got upload access for pub.dev so new features / bugfixes can be available very fast.

[2020-07-20 23:21] mwcw commented on #35
We can't force dependencies on people, crypto libraries become infrastructure.

[2020-07-20 23:40] AKushWarrior commented on #35
Fork it and package it with this library?

[2020-07-22 20:02] Ephenodrom commented on #15
Some other ideas :
- Create a documentation page and host it via github pages.
- write some articles at medium.com

[2020-07-22 23:42] AKushWarrior commented on #15
This is probably what we want to do, instead of hosting on some random third-party.

Good idea!

[2020-07-25 17:13] Ephenodrom commented on #35
Any plans / roadmap for this? Should we start with listing all ASN1 objects that are covered in the java bouncycastle?

[2020-07-26 21:22] stevenroose commented on #8
Well it's easier to look at code changes. Is the commit https://github.com/bcgit/pc-dart/commit/52ef0aea5303466c015463a61d8b193994490d78?

[2020-07-26 21:54] mwcw commented on #8
Yes it is.

Thanks.

[2020-07-27 08:33] stevenroose commented on #8
K so I skimmed over the changes. Since I can't go verify all new implementations, I mainly looked at changes existing implementation and mainly for any obvious wrongdoing.

I think I can ACK 52ef0aea5303466c015463a61d8b193994490d78 for release. Do you guys want to do a `2.0.0-rc1` release candidate of some kind, perhaps?

One thing I noticed was
[code]

Although I trust the project management in y

[2020-07-27 11:41] Ephenodrom commented on #8
The update to version 2.2.0 or higher removes the following linter message :+1:
Set literals weren't supported until version 2.2, but this code is required to be able to run on earlier versions.
Try updating the SDK constraints.

The message appear due to the fact that in the [registry.dart](https://github.com/bcgit/pc-dart/blob/master/lib/src/registry/registry.dart#L161) file. The code was added

[2020-07-27 14:29] AKushWarrior commented on #8
I think this is a case where using ignore to get rid of the lint is valid. Pre 2.0 Dart is a huge use case and we shouldn't get rid of it for such a small issue.

[2020-07-27 14:35] Ephenodrom commented on #8
Will the current version run with dart version < 2.2 or will we have to use
[code]
and ignore linter ?

If it will only run with the above code changes, for my understanding, all people using at least version >=1.0.0 of Pointycastle have already dart version >=2.2.

[2020-07-27 17:59] Ephenodrom commented on #8
Another hint: As suggested in issue #25 the fixnum package has this entry in the latest changelog.

[code]

[2020-07-28 05:16] mwcw commented on #8
Hi,

Sorry about my silence.

Thanks @stevenroose for the review, much appreciated.

If I understand this thread correctly we have the following issues to weigh up:

1. Shifting to 2.2.x specific code will silence a linter warning and I assume because the "quality" of an api has been gamified by pub.dev this will impact the score.

2. Shifting to 2.2.x will cause breaking changes to the code base

[2020-07-28 05:46] mwcw commented on #25
Hi,

I think we may as well go with this given which team is maintaining it, it will pin the project to whatever their minimum is but we can deal with that if and when it occurs.

So after the release #8 we should start using it.

MW

[2020-07-28 05:46] #25 closed

[2020-07-28 09:11] Ephenodrom commented on #8
I think this is a good plan.

[2020-07-28 16:21] AKushWarrior commented on #8
6 months is plenty of refactoring time from Dart 1 --> Dart 2. I highly doubt a significant contingent of Dart users, enterprise or otherwise, are using pre v1 Dart, so a simple note atop the README should be fine.

Agree with Ephenodrom, this is a good plan.

[2020-07-30 07:41] mwcw commented on #8
Ok I have pushed and added the tag v2.0.0-rc1 it should sync within an hour of this update. @stevenroose

I'll add a v2.0.0-rc1 Issue as a catch all for any discoveries when it is released.

If I have messed something up in the meantime please add it here!

Thanks for your help, everyone, it is much appreciated.

MW

[2020-07-30 19:58] Ephenodrom commented on #8
@mwcw We should add the new repository url in the pubspec.yaml file. Currently the **hompage** field still points to the old repository.

[2020-07-30 23:45] mwcw commented on #8
Thanks

Fixed and retagged, it should sync up shortly as 7c8a8b47

MW

[2020-08-01 14:27] Ephenodrom commented on #8
Any plans on adding my open PR #36 to the current release candidate? This would cut down the linter warnings to 500. So a good start to fix all more complicated linter warnings.

[2020-08-04 05:36] mwcw commented on #8
Hi

I was going to wait until after the release went out but yes given how releasing works I will merge it in.

MW

[2020-08-04 17:31] Ephenodrom commented on #35
@mwcw I started to work on this, if this is ok!

I used the ASN1Lib package as a template.  so that users of this package could easily switch to Pointycastle in the future without changing much code.

[2020-08-05 04:38] mwcw commented on #35
Hi,

Yes thank you very much for picking this up I agree with the strategy of easy switching as well.

MW

[2020-08-05 08:23] #34 closed

[2020-08-05 18:18] penhorwood opened #40 "RSA Public Key decryption not able to decrypt large strings"
I am trying to encrypt and decrypt a string that is large then the blockSize.  I can encrypt it but I can't decrypt the resulting ciphertext.  The same basic code works in the java version of Bouncy Castle.

Coding on Android Studio for a Samsung Galaxy S10 via a Windows 10 Pro box.

update to date versions of libraries.

[2020-08-06 00:38] mwcw commented on #40
Hi,

Could you tell me how many bytes the data is and how many bytes the key is please?

MW

[2020-08-06 02:27] penhorwood commented on #40
I was doing a test and I used this as my message and this is the main line of code with the bitLength and modLength.

String message = "The quick brown fox jumped over the lazy dogs on a hot afternoon in July somewhere in the midwest. Initialize the asymmetrical block cipher for decryption and with the private key. Pointy Castle implements PKCS #1 version 2.0 encryption and decryption. Specificall

[2020-08-06 02:45] penhorwood commented on #40
On encryption the message comes out to 305 bytes.  On decryption the ciphertext is 512 bytes with a block size of 256.

The code jumps out at line 83 on rsa.dart.

Shouldn't I be able to decrypt any size message as long as I do it in blocks?  Maybe not a good idea but it should work.  It does work that way on the Java version.

[2020-08-06 11:45] penhorwood commented on #40
I replaced my _processInBlocks code with the one found on this page:
https://github.com/bcgit/pc-dart/blob/master/tutorials/rsa.md

and then I commented out lines lines 82 to 89 on rsa.dart.  That allow my decrypt the whole message.

[2020-08-06 19:00] penhorwood commented on #40
I also noticed another issue with the output. Here is my plain text string.

String message = "BEGIN-- A-123456789 = B-123456789 = C-123456789 = D-123456789 = E-123456789 = F-123456789 = G-123456789 = H-123456789 = I-123456789 = J-123456789 = K-123456789 = L-123456789 = M-123456789 = N-123456789 = O-123456789 = P-123456789 = Q-123456789 = R-123456789 --END";

When I encrypt then decrypt is message

[2020-08-07 02:31] penhorwood commented on #40
I am using PKCS1Encoding.  The problem with returning the wrong output is in pkcs1.dart in how the out buffer is filled.  I might figure it out but someone with more knowledge will need to look at it.

Lines 173 to the end.  There is a result variable never used and the out.setRange uses the wrong values.  It always starts at position zero.

[2020-08-07 20:26] penhorwood commented on #40
I discovered that I am was not using the latest version of this package.

[2020-08-07 20:26] #40 closed

[2020-08-16 23:44] penhorwood commented on #8
Any ETA when this release will show up on https://pub.dev/packages/pointycastle?

I my code needs a few of the bug fixed in this next release to work correctly.  It would be much easier to work with if pub.dev had the latest version.

[2020-08-17 02:12] AKushWarrior commented on #8
@penhorwood

What bugs do you need fixed (what is the earliest working commit)? You may be able to use https://pub.dev/packages/pc-steelcrypt, which is a temporary publish I made for the interim until the official release. That pulls from an earlier version of this repository, but has most of the major new edits aside from some lint fixes and PSSSigner.

[2020-08-19 06:20] mwcw commented on #8
Hi,
I don't have any blockers.

@stevenroose
MW

[2020-08-24 13:38] Ephenodrom commented on #8
@mwcw and @stevenroose
Another reason to publish the newest version via pub.dev. It will fix the bug mentioned in #40. I tried the same thing the user mentioned in the issue with version 1.0.2 and found the same issue. I updated to the current release candidate and it worked well. So with version 1.0.2 RSA encryption/decryption is buggy and not ready to use in any production application.

[2020-08-25 08:07] Ephenodrom commented on #35
A small update on the current status :

The table lists all objects currently supported with the different encoding types.

| ASN1 Type  | BER  | DER  | DL  |
|---|---|---|---|
| BOOLEAN  |   | X |   |
| INTEGER  | Only supports DER | X |   |
| BIT_STRING  |   | X |   |
| OCTET_STRING  |   | X  |   |
| NULL  |   | X |   |
| OBJECT_IDENTIFIER  | Only supports DER | X |   |
| ENUMERATED  |   | X |

[2020-08-26 05:08] mwcw commented on #8
Hi,

@stevenroose how would you feel about beginning the process of delegating the ability to publish to the project?

MW

[2020-08-26 14:33] tiantianaixuexi opened #42 "is there an example of ECDSA algorithm"
Hello, is there an example of ECDSA algorithm?

[2020-08-26 17:46] AKushWarrior commented on #42
There is not. What are you trying to do? I can try writing one for you.

[2020-08-28 09:05] Tougee opened #43 "Is there any plan support EdDSA?"
Hi, thanks for the cool library.

In view of the increasing popularity of EdDSA, Is there any plan support it?

[2020-08-28 09:25] tiantianaixuexi commented on #42
I want to load the private key and secret key from the file, and then encrypt and decrypt the transmitted data through ECDSA.

[2020-08-28 17:07] AKushWarrior commented on #43
@Tougee There is no plan of that sort currently, though I can give it a shot at some point.

I know it's secure with a smaller key size than RSA. Do you have evidence of its "increasing popularity"? I'd be looking for standards that have adopted it or other cryptographic libraries (similar to this one - think Crypto++ or BouncyCastle) that have it.

[2020-08-28 17:11] AKushWarrior commented on #43
I just checked - bouncycastle does not support EDDSA, but does support ECDSA. Like most everyone else, I'm very inclined to trust Bernstein on cryptographic matters, but this algorithm is young and hasn't gotten much in the way of standardization. I don't know if this can become a priority.

[2020-08-30 13:40] penhorwood commented on #8
I'm still hoping this will make it over to pub.dev.  It is not super complicated to add an external repo as a dependence in projects.  I figured it out as a workaround but pub.dev appears to be the place for things dart related.

@stevenroose

[2020-08-30 13:49] hpoul commented on #8
How about just publishing this under the `bouncycastle` package name, if that is still available.. shouldn't be too much work for users of the package, and maybe serve as a reminder of the change in ownership, and would be possible immediately ;-)

[2020-08-30 16:46] Tougee commented on #43
Thanks for your reply, what you said makes sense.
The reason why I ask is because I have a requirement to use EdDSA to sign JWT. I hope you can give me some suggestions on how to implement EdDSA on my own fork.

[2020-08-30 16:55] Tougee commented on #43
I implemented a basic EdDSA based on this library. I know this is very imperfect. If you are free, I hope you can quickly review and give some suggestions to help me improve it, thank you！

https://github.com/Tougee/pc-dart/pull/1/files

[2020-08-30 17:09] AKushWarrior commented on #8
It is available. What do you think @mwcw? From my testing package, just having https://pub.dev/packages/steel_crypt as a downstream dependency gets the popularity rating to ~85%. Our ratings will thus be fine even if we use a new package name.

@hpoul The main worry is that the entire user base is now going to have to depend on a different package. I guess Reddit/Medium posts could help alleviate

[2020-08-30 19:41] penhorwood commented on #35
Looking forward to this being roled into the package.  I need ASN.1 to handle some interactions with a server running java.

[2020-08-31 08:42] Ephenodrom commented on #8
+1 for the idea to rename it to "Bouncycastle". Then every bouncycastle package ( java, c#, kotlin and dart ) will have the same name.

[2020-08-31 10:18] mwcw commented on #8
Hi,

I had a very brief chat to @dghbc about it.

I understand that right now this will be unpopular but to rename and redeploy the project under a new package has the risk of being unnecessarily uncouth given we don't know what is going on, and given we are in the middle of pandemic anything could be happening.

However once we move past this, the project can move along, and everyone's contributi

[2020-08-31 12:22] mwcw opened #44 "Travis failing"
Hi,

What has happened is that the "pana" tool has been updated and takes new arguments.

This causes travis ci to fail.

I have pushed an update to the Travis config file but there is some delay in travis picking that up.

I'll check back on Tuesday morning UTC +10 (Melbourne AU) time.

Hope everyone is going ok during the pandemic.

MW

[2020-08-31 13:06] penhorwood commented on #8
I can agree with your comments but I did a little research on stevenroose.  He is actively committing to other gitHub projects just not responding to this one.  https://github.com/stevenroose

All we need is a little of his time to move the project forward.

[2020-08-31 18:29] AKushWarrior commented on #42
I don't know of a way to encode/decode keys from a file. Is there a file format you are using that I can investigate?

[2020-08-31 23:10] mwcw commented on #44
Ok this appears fixed!

MW

[2020-08-31 23:10] #44 closed

[2020-09-01 01:22] tiantianaixuexi commented on #42
This public key and Private key are generated by me from the Go language, and its code is like this.Its format ends in .pem

`

	privateKey, _ := ecdsa.GenerateKey(c, rand.Reader)
	// SaveKey
	// x509
	x509PrivateKey, _ := x509.MarshalECPrivateKey(privateKey)

	//pem
	block := pem.Block{
		Type:"ecc private key",
		Bytes:x509PrivateKey,
	}

	//Save in file
	privateFile, _ := os.Create(privatePath)

[2020-09-05 09:06] gnawf opened #45 "Store public exponent in RSAPrivateKey"
So I've noticed that `RSAPrivateKey` doesn't store the public exponent. This would very useful for encoding private keys in PKCS1 format – which requires the public exponent.

From what I can tell, the `bc-java` library stores the public exponent – [see](https://github.com/bcgit/bc-java/blob/2b976f5364cfdbc37d3086019d93483c983eb80b/core/src/main/java/org/bouncycastle/crypto/params/RSAPrivateCrtKey

[2020-09-05 23:07] penhorwood commented on #8
I believe @stevenroose should be given credit for all of the work he put into pointy castle.  I also think changing the packaging to bouncy castle makes the most sense due to the other bouncy castle packages.  Bouncy Castle has a great reputation in the Java world.

[2020-09-05 23:08] AKushWarrior commented on #8
This is very true: BouncyCastle has cache as a name and brand, and a good number of Dart developers are also familiar with Java.

[2020-09-06 22:51] mwcw commented on #8
Hi, a bit of an update.

There is some work going on to get things underway.

At this stage it looks as though the package will remain unchanged.

Sorry I can't give you a solid time timeline at this moment.

MW

[2020-09-07 01:53] AKushWarrior commented on #8
Can you give us the steps completed/steps remaining to publish, even if there's no timeline?

[2020-09-09 01:23] mwcw commented on #8
Sure:

1. Create publisher  .. done
2. Verify publisher via DNS .. done.
3. Have project assigned to new publisher .. waiting.
4. Given the elapsed time round any remaining items into the release.
5. Do a release.

MW

[2020-09-09 02:45] AKushWarrior commented on #8
Okay so it's just Steven Roose needing to transfer to get that going. Good to know, thanks.

[2020-09-10 12:00] penhorwood commented on #8
Notes on the publishing process:  https://dart.dev/tools/pub/publishing
Is Bouncy Castle a verified publisher?

[2020-09-10 15:53] AKushWarrior commented on #8
I believe BouncyCastle has registered as a publisher. All that's left is for Steven Roose to transfer the project to the BC team on pub.dev.

[2020-09-10 23:18] penhorwood commented on #35
I know this is a open source project that is worked as we get the time.  I am waiting on the ASN.1 pull request by @Ephenodrom to continue a project I am working on.  Is it possible to get an ETA or something when this will be merged into the project?

[2020-09-11 08:26] mwcw commented on #8
Hi Everyone.

@stevenroose I invite you to take one last look at the change log!

Ok this is the first dart package release I have ever done, I have updated everything..

I think we should be ready to go.

[2020-09-11 08:27] Ephenodrom commented on #35
The PR is merged and this is the state of the ASN1 primitives.

| ASN1 Type  | Decode From  | Encode To  |
|---|---|---|
| BOOLEAN  | * DER :heavy_check_mark:<br> | * DER :heavy_check_mark:<br> |
| INTEGER  | * DER :heavy_check_mark:<br> | * DER :heavy_check_mark:<br> |
| BIT_STRING  | * DER :heavy_check_mark:<br>* BER Constructed:heavy_check_mark:<br>* BER Long Length Form:heavy_check_mark:<br>*

[2020-09-11 09:13] mwcw commented on #45
This has been fixed.

Thanks for the report.

[2020-09-11 09:13] #45 closed

[2020-09-12 03:47] AKushWarrior commented on #35
Hasn't this been merged? @mwcw can you close the issue?

[2020-09-12 03:55] AKushWarrior commented on #20
I have some free time, but don't feel like doing any of the heftier stuff (documentation) yet. I'll get started on implementing these.

[2020-09-12 05:18] mwcw commented on #8
Ok the rc1 is published.

https://pub.dev/packages/pointycastle/versions/2.0.0-rc1

[2020-09-12 05:18] #8 closed

[2020-09-12 05:22] mwcw opened #46 "2.0.0-rc1 Release thread"
Hi,

Release Candidate 1 of Pointy Castle 2.0.0 has been release.

Please try it out.

I would like to move through the rc phase reasonable quickly so we can get the 2.0.0 release out and move forward from there.

https://pub.dev/packages/pointycastle/versions/2.0.0-rc1

MW

[2020-09-12 05:35] penhorwood commented on #46
Thanks!!!!

[2020-09-12 05:37] AKushWarrior commented on #46
Awesome. Thanks for doing this. I'll do some publicity work on Reddit and Medium at some point to make people aware of the change...

[2020-09-12 05:55] mwcw commented on #35
Yep! In the release!

Thanks again!

[2020-09-12 05:55] #35 closed

[2020-09-15 15:06] Ephenodrom opened #47 "Improve ASN1 Lib"
After changing to the RC1 (#46) I found some bugs and things to improve :

- Add ASN1TeletextString to be compatible with the current ASN1Lib package
- Add ASN1GeneralizedTime to be compatible with the current ASN1Lib package
- Add add() method to the ASN1Sequence to be compatible with the current ASN1Lib package
- Add short version of some object identifiers like CN for common name.
- The encodin

[2020-09-15 20:01] Ephenodrom commented on #46
I opened an issue (#47) with some improvements and small bugs I found while trying to use the pointycastle ASN1 lib instead of the current ASN1 lib within my basic utils package.

Will try to create a PR this or next week so we can add this to RC2 or to version 2.0.1.

[2020-09-18 04:23] mwcw commented on #46
Hi,

@Ephenodrom I have no argument with having this sit as RC 1 until you are ready and then do a quick RC2.

MW

[2020-09-19 09:54] gnawf commented on #47
I found it very odd how `encodedBytes` is exposed. From what I can see it's the memoized result from `encode()`. It seems like it should be a private implementation detail?

Also throws off people switching from the ASN1Lib package, since their `encodedBytes` should be changed to `encode()`.

[2020-09-19 10:04] gnawf commented on #45
@mwcw thanks for the change. Just got around to checking it.

Any reason why there's a `pubExponent` AND a `publicExponent`?

[code]

FWIW: you can always change a field to a getter. See this [linter rule](https://dart-lang.github.io/linter/lints/unnecessary_getters_setters.html).

So I think pubExponent should be removed and the constructor changed to:

[code]

[2020-09-21 10:05] Ephenodrom commented on #47
@mwcw @gnawf
I created a PR to fix the above mentioned things.

[2020-09-25 07:50] mwcw opened #49 "2.0.0-rc2"
Hi All,

This release includes some updates to the ASN1 Library.

Given there were no reports of issues for RC1 I think we can schedule a release for the 1st of October (Melbourne Australia).

Please try it out and report any issues here!

Thanks everyone, stay safe during the pandemic.

https://pub.dev/packages/pointycastle/versions/2.0.0-rc2

MW

[2020-09-25 07:51] mwcw commented on #46
RC 2 has been released, please see:  #49

[2020-09-25 07:51] #46 closed

[2020-10-02 04:20] mwcw commented on #49
Ok 2.0.0 has been published!

https://pub.dev/packages/pointycastle/versions/2.0.0

Big thanks to the pointycastle community.

MW

[2020-10-02 04:20] #49 closed

[2020-10-04 20:50] awhitford opened #50 "ASN1BitString NPE bug"
https://github.com/bcgit/pc-dart/blob/e5cd4dd87d3a2b2f317b9a59b245978d92e965ee/lib/asn1/primitives/asn1_bit_string.dart#L88-L90

This looks like a _Null Pointer Exception_ bug.  I just noticed it while investigating something else.

[2020-10-04 22:58] awhitford commented on #47
Related to https://github.com/Ephenodrom/Dart-Basic-Utils/issues/31...

⚠️ I will admit that I am not very familiar with ASN1.  The following comments are based on feedback from an exercise I went through in attempting to migrate `asn1lib` code to `pointycastle`.

Consider the following:
https://github.com/bcgit/pc-dart/blob/e5cd4dd87d3a2b2f317b9a59b245978d92e965ee/lib/asn1/primitives/asn1_bit_str

[2020-10-09 00:26] penhorwood opened #51 "Working with PEM files"
Is Point Castle able to read and write RSA PEM files?  I need to turn a PEM file created with Bouncy Castle back into a RSA Public Key.

[2020-10-09 00:29] penhorwood commented on #51
I can use this class in Bouncy Castle to turn a byte array back into a Public Key.
org.bouncycastle.crypto.util.PublicKeyFactory.createKey( base64 decoded byteArray )

My understanding is a PEM file is just a formatted base64 encoded byteArray.

[2020-10-17 01:37] ranbeuer opened #52 "Trouble while trying to create a Ecc CSR"
I'm trying to create a Ecc CSR while using the UID parameter, but I get the message that it's not supported yet. Will this be supported in a later release?

[2020-10-19 21:01] Ephenodrom commented on #30
@ranbeuer where did you try to verify the CSR?

[2020-10-19 23:26] ranbeuer commented on #30
@Ephenodrom https://certlogik.com/decoder/
I'm comparing against one I got from a working android app I have. Some bits are off, apparently.

[2020-10-21 00:27] ranbeuer commented on #30
I'm trying to regreate something like this:
public String createPKI(String mdnString) { //phone number
        try {

            KeyPairGenerator keyPairGenerator = KeyPairGenerator.getInstance("EC");
        	//KeyPairGenerator keyPairGenerator = KeyPairGenerator.getInstance("ECDSA", "SC");

            ECGenParameterSpec ecGenSpec = new ECGenParameterSpec("prime256v1");
            keyPairGener

[2020-10-25 11:43] hoylen commented on #51
Try using the [ssh_key](https://pub.dev/packages/ssh_key) package.

[2020-10-29 16:11] Ephenodrom commented on #30
@ranbeuer
Hello I finally had some time to check this. Yes there is a problem with setting the unused bits in the BitString class while encoding it. Will try to fix this.

[2020-10-29 16:35] Ephenodrom commented on #51
@penhorwood Also take a look at my Basic Utils package.

https://github.com/Ephenodrom/Dart-Basic-Utils#cryptoutils

[2020-10-29 16:35] Ephenodrom commented on #50
Will create a PR the next days.

[2020-10-30 09:06] ertong opened #55 "ASN1BitString wrong encode"
`print(base64.encode(ASN1BitString(stringValues: [1]).encode()));`
returns AwEB  (030101)
expected AwIAAQ== (03020001) (verified by other implementations)

It looks like there should be added extra byte "padding" for some reason.

I suppose, that it should be enough to add default value for unusedbits field to zero in ASN1BitString.

pointycastle: 2.0.0

[2020-10-30 09:14] ertong opened #56 "ASN1Integer wrong encode"
`print(base64.encode(ASN1Integer(BigInt.from(128)).encode()));`
returns  AgGA  (020180)
expected  AgIAgA== (02020080) (verified by other implementations)

It looks like it is something related to signed/unsigned representation.

pointycastle: 2.0.0

[2020-10-30 16:36] Ephenodrom commented on #55
I think it seems the unused bit was missing. Maybe this is fixed by #57. I will take a look at it next week.

[2020-10-30 16:38] Ephenodrom commented on #47
Improvements are already merged. Complaints cannot be traced, because the effort for a change is limited.

[2020-10-30 16:38] #47 closed

[2020-11-18 01:32] schancel commented on #56
Running into the same issue. When the BigInt is a positive but the encoded first byte would have 0x80, it doesn't end up padded.

[2020-11-23 11:55] nateshmbhat opened #60 "In RSA , Add support to encrypt data using private key and decryption using public key"

[2020-11-24 18:50] AKushWarrior commented on #24
@mwcw the null-safety feature is now in beta, and it's recommended for packages to create a prerelease branch which is ported to nullsafety. There has also been a promise of runtime performance improvements, since the language no longer has to perform null checks.

Associated reading:
Feature overview: https://dart.dev/null-safety
Migration guide: https://dart.dev/null-safety/migration-guide

This

[2020-11-26 12:17] mwcw commented on #24
Hi,

Ok, I am trying to get back onto the dart project, we are heading towards towards a new round of FIPS certifications and it is consuming all of my time at the moment, although the end is in sight.

I will try and take a look at those links in the next day (Melbourne AU).

MW

[2020-12-11 14:47] redDwarf03 opened #63 "AES GCM Decrypt data with passphrase"
Hello

have you an equivalence with js code (bold section)
the need is to decrypt an Encrypted data (String) with a passphrase (String)

export function decryptPrivateKey(data, passphrase) {
  const key = sha3.sha3_256.array(passphrase)
  const dataArray = Buffer.from(
    typeof data === 'string' ? hexToUint8Array(data) : new Uint8Array(data)
  )
  **const decipher = crypto.createDecipheriv(

[2020-12-14 18:40] acoutts commented on #24
@AKushWarrior @mwcw please migrate this with a pre-release like other packages have done. All packages that consume this package cannot migrate until this one is migrated, so all downstream packages are blocked until you set out a nullsafety pre-release as outlined in the migration guide: https://dart.dev/null-safety/migration-guide

[2020-12-14 18:42] AKushWarrior commented on #24
@mwcw looks like there's been some organic roadblocks. It'll take a while, but we should definitely start the process.

[2020-12-14 18:44] acoutts commented on #24
You can see here that there are currently 108 packages which depend on `pointycastle` on pub.dev, so all of them are in the same blocked state: https://pub.dev/packages?q=dependency%3Apointycastle

[2020-12-16 05:01] mneber opened #64 "AES CCM mode"
Sorry I should have posted this here not the pre fold repo.

Is there any plan to add CCM mode in the near future?

128 bit AES CCM is very common for Bluetooth. I need it for a project that I'm on now and can't find any dart plugin.

[2020-12-16 08:49] Ephenodrom commented on #50
@mwcw
This can be closed now, due to the corresponding PR is closed.

[2020-12-16 09:14] #50 closed

[2020-12-22 07:09] kalismeras61 opened #65 "Anyone can help me decrypt to PHP script ?"
I tried port below PHP script but no chance. Could someone help me for converting to dart ?

[2020-12-22 09:13] #65 closed

[2020-12-22 16:39] #63 closed

[2020-12-22 16:39] redDwarf03 commented on #63
resolved.

[2020-12-23 09:24] izaera opened #67 "Archival of original PointyCastle repo"
Hi there:

Just wanted to notify you that I have archived https://github.com/PointyCastle/pointycastle . It was still open for modification and people were still sending PRs and opening issues.

I redirected all of them here, but archiving the repo and writing a message in its README should do the trick much better.

I tried to contact @stevenroose to confirm that I could archive the repo but I ha

[2020-12-24 19:11] awhitford opened #68 "CHANGELOG title for 2.0.0-rc1"
Minor issue with [CHANGELOG.md](https://github.com/bcgit/pc-dart/blob/master/CHANGELOG.md#version-200-rc1-2020-09-11-dart-sdk-version-211q):

[code]

See that `:q!` at the end?  Looks like a `vi` fail.

[2020-12-27 16:20] stevenroose commented on #67
Hmm, I suspect you tried to contact my Gmail address instead of my new e-mail. I am desperately lost keeping track of that e-mail account. I'm ok with the archival. And I apologize for all the trouble my slow reactions have caused.

[2020-12-28 08:57] izaera commented on #67
Nothing to apologize for :raised_hands: . Just wanted to make sure I wasn't breaking anything.

Regarding your e-mail, I didn't use it. I just mentioned you here in GH :-)

[2020-12-30 17:20] santitigaga opened #69 "rsa/ecb/oaepwithsha-256andmgf1padding support?"
pc-dart support  rsa/ecb/oaepwithsha-256andmgf1padding? I hope we can encrypt with pc-dart and decrypt with Java.

The same issue is open [here](https://github.com/PointyCastle/pointycastle/issues/193)

[2021-01-10 16:25] matehat commented on #69
To add some weight to this issue, many implementations out there (including the [recommended implementation of WebCrypto][1]) of RSA-OAEP is using SHA-256 for hashing and MGF.

The implementation currently in pointycastle is hardcoding SHA1 for those, and it makes interoperability between, say, a Native Flutter and a Web-based application to be broken.

I tried playing in the internals of `asymmet

[2021-01-11 09:28] mwcw commented on #69
Hi,

Thanks, I'll see how I go getting to it.

MW

[2021-01-11 14:51] matehat commented on #69
Thanks @mwcw! I did a quick implementation that seem to work, although I'm not sure it's up to the PointyCastle standard right now: https://github.com/braverhealth/pc-dart/commit/0be621ffae8104e26050342f1fb41bee46f8a44b

If you don't have bandwidth to tackle that now, I can open a PR in a couple days to clean things up.

[2021-01-12 09:10] Ephenodrom opened #71 "Release 2.0.1"
Hello @mwcw

Can you please create a new release on pub.dev ? Recently, there have been a few PRs that have been closed.

Regards

[2021-01-12 18:40] AKushWarrior commented on #64
This project is heavily dependent on user pull requests. The original implementation (in BouncyCastle) is here: https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/modes/CCMBlockCipher.java

If people need this, please upvote the original post in this issue (at least) or implement it yourself (if you can).

[2021-01-12 18:40] AKushWarrior commented on #64
If there's a significant need for it, I can take some time and port it. I might not have time for a month or so, though.

[2021-01-12 18:42] AKushWarrior commented on #24
It's also worth noting that pointycastle is one of the most used packages on pub. This is both because of downstream package dependencies and direct users. I think that this is high-urgency given how much code we'd have to port, but this library doesn't use null extensively (so the port should be okay).

[2021-01-12 18:57] AKushWarrior opened #72 "Add CONTRIBUTING.MD"
Given how much non-owners have contributed to this library, I think it's useful to provide a scaffold for contributions to this library. Notably, thus far, AES-GCM, ChaCha20, HKDF, Poly1305, ASN1, and Keccak/SHA-3 separation have all been recently contributed by people who were not maintainers of the project. Regularizing contributions to the library thus has significant value.

As for what it wou

[2021-01-13 06:39] AKushWarrior commented on #71
Second. The dart:io thing is still blocking usage on web.

[2021-01-13 07:07] Ephenodrom commented on #71
@AKushWarrior This should be Dome with the closet PR #62

[2021-01-13 07:10] AKushWarrior commented on #71
@Ephenodrom It was merged into the repo, but not published on pub.dev, which is my point. Users from pub.dev cannot currently access this library on web.

[2021-01-14 21:45] Ephenodrom commented on #71
@mwcw Any timeline for this?

[2021-01-15 02:16] zartzhao opened #73 "Do you support ECIES?"
Do you support ECIES ? I want to find Cipher to support ECIES , just like Java.

[2021-01-15 22:31] mwcw commented on #72
Yes,

I think it is a very good idea.

MW

[2021-01-15 22:35] mwcw commented on #71
I'll do it now.

MW

[2021-01-16 05:15] mwcw commented on #71
Done

[2021-01-16 05:15] #71 closed

[2021-01-16 05:16] mwcw opened #74 "V2.0.1 Released"
Hi,

v2.0.1 has been released, please try it out.

MW

[2021-01-19 16:58] AKushWarrior commented on #74
Works fine for me.

[2021-01-19 23:53] AKushWarrior commented on #24
Working on this on my fork. Will update with more details as I have them. You can view progress at https://github.com/AKushWarrior/pc-dart

@mwcw to avoid merge conflicts, could you not merge PRs into this repository for a few days? I want to make sure that my fork is fast-forward-safe with this one.

[2021-01-20 06:19] mwcw commented on #24
Hi,

Yep I can do that, did you by chance see an email from me?

MW

[2021-01-20 06:45] AKushWarrior commented on #24
Haven't seen one. What address did you send it to?

Typically I use akushwarrior@gmail.com for open source stuff.

[2021-01-20 06:52] mwcw commented on #24
Hi,

I have send you another email, I am not sure what happened.

MW

[2021-01-20 18:44] AKushWarrior commented on #24
It looks like the majority of tests are passing on my fork. It's at 435 passing, 16 failing currently. I think that this should be ready for prerelease by the end of tomorrow, assuming all goes well.

[2021-01-21 00:42] mwcw commented on #24
Sure let me know!

Given the size of the change I think it should go out as 2.1.0

MW

[2021-01-21 07:55] AKushWarrior commented on #24
It should be in the form "2.1.0-null-safety" or something of that sort. The dart docs specify; I'll get it set up before I finalize the PR.

[2021-01-21 17:05] vdeurzen-bux opened #75 "FortunaRandom implementation"
I was curious about my usage of the FortunaRandom class and wanted to check if I used it correctly. I did a bit of digging and read through a fair part of the description by Bruce Schneier (https://www.schneier.com/wp-content/uploads/2015/12/fortuna.pdf) as well as the implementation in PointyCastle.

From what I can tell, the implementation in PointyCastle does not (entirely) follow the algorithm

[2021-01-22 22:02] mwcw commented on #75
Hi,

Are you looking to do something certifiable with it?

For example:
https://csrc.nist.gov/publications/detail/sp/800-90a/rev-1/final

MW

[2021-01-25 21:18] vdeurzen-bux commented on #75
Hi,

I'm not entirely sure I fully understand your question in this context. My main question is effectively, why is the name FortunaRandom used, when (at least to me) it looks like it does not implement the Fortuna algorithm?

I'm working on an application that needs to generate the seed for a key which will be used to co-sign requests. I don't expect it will be certified, but I do want to ensure

[2021-01-26 12:35] mwcw commented on #75
Ok, sorry,

Honestly I cannot answer that, we have only just adopted the project that was started by someone else.

Myself or someone else will try to get to it when we can.

MW

[2021-01-26 12:39] mwcw commented on #73
Hi,

It does not.

MW

[2021-01-26 12:39] #73 closed

[2021-01-26 17:12] AKushWarrior commented on #24
@mwcw this is taking a really long time. Not sure where these last couple errors are coming from. Going to do some diffs with the old code today and see if that helps.

[2021-01-27 10:37] vdeurzen-bux commented on #75
No worries, I guess this issue then simply serves to ask that someone at some point looks at this. Thank you for answering my questions, feel free to close the issue if you think that makes sense :-)

vdeurzen.

[2021-01-27 21:19] redDwarf03 opened #76 "Deterministic EDCSA signature with elliptic curve secp256k1"
hello
I try to found a solution to sign a hash with a deterministic EDCSA signature with elliptic curve secp256k1

Example in javascript:
[code]

I don't know how to do that with Pointycastle

I try something like that but it's isn't good... non deterministic

[code]

thx for help

[2021-01-28 07:36] AKushWarrior commented on #24
@mwcw @acoutts The migration is finished and the PR is filed. I've taken great care to ensure that the package is publish-ready; all the logistical problems, dependency management, versioning, etc. has been taken care of along with the migration itself.

I declared this version to be 3.0.0 because of this guideline: https://dart.dev/null-safety/migration-guide#package-version. That versioning bump

[2021-02-01 14:33] moazelshebly opened #78 "Null Safety Support"
It would be great if this package is migrated to support null safety changes.

Are there any plans for this to be implemented soon?

[2021-02-01 15:32] AKushWarrior commented on #78
There's already an issue (#24) and PR (#77) it's should come out in the next couple weeks.

[2021-02-02 18:24] watzon opened #79 "Any thoughts on adding AES-IGE support?"
I'll be the first to admit that there aren't a ton of use cases for IGE, but it is a valid AES based algo and there aren't many libraries that support it (and absolutely none in dart afaik). Basically IGE has one purpose, it's used in MTProto, Telegram's encrypted communication protocol.

I'm playing with the idea of writing a Dart library for MTProto so that I can build a Telegram client using Fl

[2021-02-02 18:44] AKushWarrior commented on #79
I do intend to add a bunch of AES modes at some point. My focus currently is getting #77 through (null-safety is coming!), but after that my goal is to add algorithms that have a significant use in standards. In terms of block cipher modes, my list currently includes CCM (#64) and GCM-SIV; I can add this to the list if it's a critical building block in something like Telegram.

[2021-02-02 18:54] watzon commented on #79
That would be great! For now I can try to mock it using the Python impl as inspiration, but I'm not a cryptography expert so I'm sure someone else could do it much better.

[2021-02-02 18:56] watzon commented on #79
It actually does look like the Java version of BouncyCastle has a full IGE block cipher, so this could be a better jumping off point https://www.javatips.net/api/Wire-Desktop-master/src/org/bouncycastle/crypto/modes/IGEBlockCipher.java

[2021-02-02 19:58] AKushWarrior opened #80 "Implement Notable Standards"
Seeing as this is a general purpose cryptography library that could feasibly be used on desktop, mobile, and web architectures, we should make an effort to implement widely-used standards from various sources. Some such sources and standards (all currently unimplemented in pointycastle) are listed below. Note that I've tried to whittle down the standards to those with considerable common usage; fo

[2021-02-02 20:47] AKushWarrior commented on #79
https://github.com/bcgit/bc-java is the official repository, for future reference.

[2021-02-02 20:50] watzon commented on #79
Yeah thanks haha, I found it after

[2021-02-02 20:53] AKushWarrior commented on #79
Based on that Java source you shared (which I cross-checked against the specification; it seems correct), this should be a fairly minimal task to implement in Dart. I'll take a crack once null-safety is fully merged.

[2021-02-03 04:47] watzon commented on #79
Yeah IGE is almost CBC, just ever so slightly different. Can't wait to see it get added. I'll be waiting!

[2021-02-03 21:49] AKushWarrior commented on #79
I just finished this. @mwcw should I fold this into #77 or create a separate PR after?

[2021-02-04 03:14] AKushWarrior commented on #79
@watzon this is part of #77 now. It should come out as part of 3.0.0.

[2021-02-04 03:14] AKushWarrior commented on #64
@mneber done. It's included in #77. You can add my fork of this repository as a git dependency if you need it urgently.

[2021-02-04 04:57] watzon commented on #79
Thanks!

[2021-02-05 00:36] AKushWarrior commented on #78
It's released as 3.0.0-nullsafety.2 on https://pub.dev and as a branch of this repository. @mwcw you can close this.

[2021-02-05 00:38] #78 closed

[2021-02-05 00:39] AKushWarrior commented on #64
This was released in the latest update, which is labeled 3.0.0-nullsafety.2 on https://pub.dev and has code in a branch of this repository. As of right now, the algorithm is only available in the null-safe version of this library, but you can trivially port it to non-null-safety. @mwcw you can close this.

[2021-02-05 00:39] AKushWarrior commented on #79
This was released in the latest update, which is labeled 3.0.0-nullsafety.2 on https://pub.dev and has code in a branch of this repository. As of right now, the algorithm is only available in the null-safe version of this library, but you can trivially port it to non-null-safety. @mwcw you can close this.

[2021-02-05 02:30] AKushWarrior commented on #75
As far as I can see, you're right. The implementation follows the Fortuna instructions for generation, but accumulation/seeding are using some completely foreign construction. I'm not even sure how initial seeding is handled; it looks like the algorithm isn't even using a source of randomness (which is, of course, absurd).

Fortuna itself seems to be a low-level algorithm, primarily designed for s

[2021-02-05 04:44] watzon commented on #79
You're awesome @AKushWarrior! Thanks!

[2021-02-05 04:44] #79 closed

[2021-02-05 22:34] redDwarf03 commented on #76
i find the solution in this project: https://github.com/shareven/wallet_hd

[2021-02-05 22:34] #76 closed

[2021-02-06 01:57] AKushWarrior commented on #75
@vdeurzen-bux I did some more digging. The algorithm is mis-named (and one could argue only a single building block in the larger Fortuna algorithm). The algorithm currently labeled Fortuna is actually the Fortuna _generator_, and does not handle seeding at all. Essentially, users have to pass in the seed (which would ideally be accumulated using Fortuna's accumulator, but realistically will be ga

[2021-02-08 11:34] vdeurzen-bux commented on #75
@AKushWarrior Thank you for confirming it's indeed incorrectly named. As far as I could tell, thank you for expanding on this, if the user seeds the generator properly (using Random.secure() in this case) then at least the first value that's generated should behave as expected from Fortuna and should be 'OK'.

I agree it's a good idea to have more standardized and appropriate algorithms in place,

[2021-02-22 08:46] KingDoxik opened #82 "Generating X.509 certificates"
Hi, I am trying to generate X.509 certificates. Is it possible with Pointy Castle? I found a 4 years old open issue in old Pointy Castle repo. Bouncy Castle has this feature. Thanks

[2021-02-22 15:49] AKushWarrior commented on #82
Not possible as of now. I'm working on some randomness generators right now, but I'll take a look after I finish.

[2021-02-23 12:37] hamirshekhawat opened #83 "PointyCastle analogous code for BouncyCastle Algorithm EC, curve Curve25519 key pair generation"
Can I write Dart code for the following java file? https://github.com/gsasikumar/forwardsecrecy/blob/master/src/main/java/io/yaazhi/forwardsecrecy/service/ECCService.java
The file has methods to generate ec key pair using curve 25519. The public key is uncompressed.
Does PointyCastle supports this?

[2021-02-23 14:30] konsultaner opened #84 "Use bcrypt with pc-dart"
I used pc-dart to implement some authentication processes in my [network library connectanum-dart](https://github.com/konsultaner/connectanum-dart). For one of the authentication processes I need to load ed25519 keys. I tried to implement loading from `open ssh key format`. This works well. If the files private key is encrypted, bcrypt_pbkdf is used.

Since pc-dart does not support bcrypt, I trans

[2021-02-27 21:20] penhorwood commented on #51
I found the time to work on this project again.  @Ephenodrom I tried the Basic-Utils package but there is something wrong with the BigInt decoding of PEM ANS.1 files.  I always get an error.  I did find a package 'package:rsa_pkcs/rsa_pkcs.dart' that works for parsing PKCS #1 formatted PEM files.  But I also need to create PEM files in PKCS #1 or PKCS #8 format.  It would be great if these feature

[2021-02-28 20:09] Ephenodrom commented on #51
@penhorwood can you Provider an example PEM Herr the parsing creates an error ? The PEM parsing should work fine, due to it heavily used by myself. I also parsed over 50k x509 certificates issued by DigiCert without a problem.

[2021-02-28 22:07] penhorwood commented on #51
@Ephenodrom  I will see if I can provide an example.  I maybe have also done something to cause it to fail.  My knowledge of Dart is very limited.

[2021-03-02 01:53] penhorwood commented on #51
@Ephenodrom - Well I was indeed wrong on the crashing.  I had used the wrong method for converting from PEM 8 to Public Key.

[2021-03-02 01:53] #51 closed

[2021-03-03 07:10] konsultaner commented on #84
I fixed up perfrmance with bcrypt. I guess its kind of usable now.

[2021-03-06 20:06] AKushWarrior opened #85 "Merge null safety into master"
Null safety has been taken out of beta: https://medium.com/dartlang/announcing-dart-2-12-499a6e689c87

That means the null safety branch should be merged into master, and probably that we should update the version bounds.

I'll look into the latter; @mwcw, if you could do the former, that would be great.

[2021-03-09 03:51] zhoulijun12315 opened #86 "How to implement OAEP| SHA3-256"
we have the java code, like:
`public static String rsaEncryptWithPublicKey(String s, java.security.PublicKey pub) throws GeneralSecurityException, UnsupportedEncodingException {
        javax.crypto.Cipher cipher = javax.crypto.Cipher.getInstance("RSA", "BC");
        cipher.init(Cipher.ENCRYPT_MODE, pub, new javax.crypto.spec.OAEPParameterSpec("SHA3-256", "MGF1", MGF1ParameterSpec.SHA256, PP));

[2021-03-15 06:17] hongfeiyang opened #87 "Does this library use any hardware AES acceleration?"
Modern CPUs have AES engine built within their processors, starting from Apple A9 and SnapDragon 805 the compiler is able to emit AES instructions when compiling code that uses AES operations. I just want to know can this library use any hardware acceleration when doing cryptographic operations?
If it doesn't, can you recommend any means for me to use hardware AES accelerations in flutter?

[2021-03-15 13:41] crossle commented on #43
Ed25519 now very popular on the blockchain, small signature, more efficient.

[2021-03-15 19:41] konsultaner commented on #23
@AKushWarrior maybe it helps. There is a pure dart implementation of blake2: https://github.com/james-alex/blake2

[2021-03-15 20:08] AKushWarrior commented on #23
We have blake2b in this library. I've just been insanely busy for a while.

[2021-03-15 20:26] morrica opened #88 "ECCurve_secp256k1 constructor fails with nullsafety violation"
Using version 3.0.0-nullsafety.2

The following fails with a nullsafety violation:
`ECDomainParameters _domainParameters = ECCurve_secp256k1();`

Relevant error:
[code]
It looks like `null` is specifically being passed into the non-nullable `List<int> seed` parameter of the `ECCurve_secp256k1._make()` method in the `secp256k1.dart` file.

Pointycastle is holding up the migration to null-safety for

[2021-03-15 20:30] morrica commented on #88
Looks like this was probably already fixed in the latest github code. The fix just hasn't been published to pub.dev yet. Will await that new version.

[2021-03-15 22:32] untp commented on #87
This package is pure Dart, completely software implementation, so it is slow. If you want to use the device's hardware, you can look into [CryptoKit](https://developer.apple.com/documentation/cryptokit) (iOS) and [Cipher](https://developer.android.com/reference/javax/crypto/Cipher) (android). You need to [write custom platform-specific code](https://flutter.dev/docs/development/platform-integratio

[2021-03-16 06:15] konsultaner commented on #23
@AKushWarrior ok, sorry. I just wanted to help. As a developer being busy is your burden ;). What I'm goining to try is to crosscompile the reference implementation and try to ffi it. Lets see where this goes...

[2021-03-16 06:38] AKushWarrior commented on #23
@konsultaner No need to apologize. I'm a little frustrated that I haven't been able to work on some open-source projects more, but you're right to say that my burden is to labor on.

It looks like there's no pure-dart implementation, but there is this: https://pub.dev/packages/dargon2
I have no idea of the quality, but it does seem to be what you were planning to do.

[2021-03-16 07:49] konsultaner commented on #23
@AKushWarrior  Thanks for that link. I want to have a build for all plattforms including the web. So it needs to compile to wasm as well. This is more an exercise too digg into that topic.

[2021-03-16 13:28] cachapa opened #89 "AES-GCM an order of magnitude slower than AES-CBC"
In experimenting with this library I'm getting an order of magnitude lower performance when using AES-GCM compared to AES-CBC in both encoding and decoding.

Testing on my PC with a 1.7 MB image file I'm getting ~100ms with CBC and ~2s with GCM.

Here's the file I'm using for testing: https://upload.wikimedia.org/wikipedia/commons/4/4e/Macaca_nigra_self-portrait_large.jpg
And here's the code:

[co

[2021-03-16 15:46] AKushWarrior commented on #89
Nope, that's concerning. I'll look into it when I have some time.

[2021-03-16 15:47] AKushWarrior commented on #87
Yeah, this is not a performance intensive library. Granted, it probably won't be your bottleneck, but you should use flutter-sodium if you absolutely need the fastest performance.

[2021-03-18 21:35] jonasroussel commented on #85
Any idea when it will be merged ?

[2021-03-18 21:45] AKushWarrior commented on #85
Not sure, really depends on when Megan has a minute. You can already use it and the branch is largely stable.

[2021-03-24 07:58] mwcw commented on #56
https://github.com/bcgit/pc-dart/pull/59

[2021-03-24 07:58] #56 closed

[2021-03-24 08:00] mwcw commented on #55
Fixed by: https://github.com/bcgit/pc-dart/pull/57

[2021-03-24 08:00] #55 closed

[2021-03-24 17:28] AKushWarrior commented on #88
The new version was published yesterday (so you should be good to go).

[2021-03-24 17:28] AKushWarrior commented on #85
This is done as of yesterday.

[2021-03-24 17:28] #85 closed

[2021-03-29 17:12] domindx opened #90 "Is the asn1utils value start position calculated correctly?"
Hi,
Shouldn't the condition be rather **less or equal** here?
https://github.com/bcgit/pc-dart/blob/7aebcf232f047bb3a4f549ca0b53f14da40d90b8/lib/asn1/asn1_utils.dart#L17

Similarly as in _decodeLength()_ method below.

[2021-03-30 11:24] Ephenodrom commented on #90
@mwcw @AKushWarrior
He seems to be right I think. Can you double check it? After that we can create a PR.

[2021-03-31 03:55] mwcw commented on #90
Hi,

It is calculating the position of the start of the data.

However it is making an assumption that the tag is only one byte long, tags can be longer, this should be a TODO.

MW

[2021-03-31 06:36] domindx commented on #90
Hi again,
I'll add some background.

I've observed the issue when using https://pub.dev/packages/basic_utils package which lately migrated from asn1lib to pointycastle library.

The issue was with parsing one of my PEM files which has exactly **127** bytes long sequence inside.
The effect was that the parser was trying to read data outside the buffer.

Quick fix which worked for this pem was to ch

[2021-03-31 06:49] Ephenodrom commented on #90
@domindx Can you provide this PEM so I can add this later as a unit tests to my "basic utils" package?

Some background information: I tested the parsing of PEM files with nearly 50k certificates issued by DigiCert. So therefore I am quite sure it works in 99% of all cases ;).

[2021-03-31 08:47] mayowu0101 opened #91 "Is there currently ecpoint's multiply function?"
Hi,
I am currently using pc-dart's ECDSA, and I hope to use ecpoint's multiply.
For this part, I have Bouncy Castle using java in android, such as this function:
[](https://github.com/bcgit/bc-java/blob/bc3b92f1f0e78b82e2584c5fb4b226a13e7f8b3b/core/src/main/java/org/bouncycastle/math/ec/ECPoint.java#L551)

I have searched for some keywords here, but I have not found any relevant functions that can

[2021-04-02 06:39] xxxzsx opened #92 "Your project is totally shit"
Abstractions through abstractions through abstractions through abstractions through abstractions.

[2021-04-02 09:11] #92 closed

[2021-04-02 13:26] redDwarf03 opened #93 "Different results for sha3 between version 3.0.1 and 1.0.2"
i have different result with sha3digest method since i upgrade to PointyCastle 3.0.1 (I was with 1.0.2)
With 1.0.2 the result was ok but now, not

For example, this code return wrong result

[code]

But when I use sha3 plugin directly (https://pub.dev/packages/sha3), I have the good result

[code]

Any idea ?

Some plugin use sha3digest and after upgrade for null safety, they don't work anymore co

[2021-04-02 15:32] xxxzsx commented on #92
@mwcw you really using a lot of complex abstractions, Digest over BaseDigest over all this bullshit, but the library doing nothing complex. Think about it.

[2021-04-02 15:47] AKushWarrior commented on #92
Digest: exported abstract class that all hashing algorithms inherit from. This is the outward-facing abstraction that is used to expose a neat API without all the implementation methods.
BaseDigest: Another abstract class that inherits from Digest, except it has implementation methods that aren't relevant to the consumer of the API. All actual Digest classes inherit from this.

That's it. There's

[2021-04-02 15:56] xxxzsx commented on #92
SHA-3 function does need zero dependencies or abstactions, neither RSA or anithing. But it has Digest, BaseDigest, Engine, then Instance. And Utils to be precise.
If you need consistency in your project to have same interfaces you can use one level of abstraction.
Bullshit. SHA-3 algorithm must be one file pure algorithm. And every other algorithm. Think about your life and maybe choose another pr

[2021-04-02 16:05] AKushWarrior commented on #92
Is SHA-3 a hashing algorithm? Yes. Do we have other hashing algorithms with parts that would be exactly the same? Yes.

Therefore, we abstract parts that are common across every hashing algorithm out into a new class, and make that class the superclass. This really isn't too difficult to understand.

The same logic, but RSA: is RSA an asymmetric encryption algorithm? Yes. Will any future asymmetri

[2021-04-02 16:10] xxxzsx commented on #92
Bullshit

[2021-04-02 19:43] AKushWarrior commented on #93
can you provide specific examples of inputs that were hashed incorrectly?

[2021-04-02 22:21] redDwarf03 commented on #93
I ran this
[code]

I obtained

[code]

the first hex is ok. not the second (and with pointcastle 1.0.2, the same code gave same results)

[2021-04-02 22:30] redDwarf03 commented on #93
is it because pointycastle's sha3 algorithm (in 1.x) was actually the keccak variant, and they changed that to a consistent naming in pointycastle v2? some dependencies are not ok (like web3dart for example)

[2021-04-03 04:49] AKushWarrior commented on #93
That is correct. In pointycastle v2/3, you use KeccakDigest() instead of SHA3Digest() for the behavior from v1's SHA3Digest. This is more technically correct.

We do run tests to ensure that SHA-3 produces correct hashes, so I think that's the most likely cause.

[2021-04-03 08:50] redDwarf03 commented on #93
i confirm I have the good result with
[code]

So, I close this issue but I open issues in the projects which use sha3 with pointycastle

thx

[2021-04-03 08:50] #93 closed

[2021-04-08 14:21] nblum37 commented on #43
Thanks for the library!

I would also look for EdDSA (ed25519) support.
As far as I see it, it's fast, secure, and the popularity is continuously increasing (https://safecurves.cr.yp.to/index.html). "Bigger" packages like cryptography support ed25519 already as well.

[2021-04-09 01:48] Tougee commented on #43
You can try a "Smaller" package https://github.com/tougee/ed25519 which is ported from Golang.

[2021-04-12 04:02] prijindal opened #95 "Support for RFC 3447 (RSAES-OAEP - 2.1)"
According to [docs](https://github.com/bcgit/pc-dart/blob/master/tutorials/rsa.md#standards-supported-1), RSAES-OAEP v 2.0 is implemented. Is there any plan to support v2.1 for RSAES-OAEP.
Since most implementation (Including web crypto api) uses it, It is not possible to use this library if other programs are involved

[2021-04-16 20:24] redDwarf03 opened #96 "secp256k1 - public key hash not ok"
Hello

Actually I have different results between secp256k1 library on pub.dev and PC

When I code with PC:
[code]

i have
[code]
-> the 2nd character is wrong and the length of result is not good

and when I code with the secp256k1 library
[code]

i have
[code]

-> the result is good

Do you know why I haven’t the good result with pc?

Sorry if my issue is not an issue... :)

[2021-04-17 14:58] mojtabaparvar opened #97 "support for ed448 (goldilock)"
please add support for ed448 algorithm

[2021-04-18 12:05] matehat commented on #69
I opened a PR (#98) with the mentioned changes. We are actively using it in a production app and encryption is compatible with other implementations.

[2021-04-19 07:02] AKushWarrior commented on #69
Maybe I'm out of line here, and asymmetric encryption isn't my specialty, but can we generalize OAEP to work with any hashing algorithm underneath? We do have a Digest class, so if users can pass a digest, we can do something similar to the PBKDF2 construction (or whatever).

[2021-04-19 15:20] matehat commented on #69
@AKushWarrior it could in theory, but in practice and [through different recommendations][1], SHA256 is most often used as the Hash function as well as in the MGF1 hash generation. SHA1 is considered less secure and I've never seen other hash functions used in place of those.

[1]: https://www.daemonology.net/blog/2009-06-11-cryptographic-right-answers.html

[2021-04-21 03:51] AKushWarrior commented on #69
I think that we likely have to preserve SHA-1 as the default (in the interest of not breaking all RSA-OAEP code). Providing multiple OAEP classes seems ridiculous (the digest is already declared as a top-level field, we can literally just provide access to that through a parameter).

We should probably use: "RSA/OAEP/___", where the empty space is the hashing algorithm, for the registry. If a cons

[2021-04-21 07:49] domindx commented on #90
@Ephenodrom Sorry for lack of response, I was quite busy lately.

Unfortunately I cannot share the PEM, but I'll try to generate some example on which it may fail.

One thing which I want to add is that basic_utils version which is using asn1lib is working perfectly with mentioned PEM.
Do you know the reasons why basic_utils migrated to pointycastle?

[2021-04-21 08:41] Ephenodrom commented on #90
@domindx
The main reason why i switched from asn1 lib to pointy castle to cut down the dependencies of the basic utils package. I completely checked the new ASN1 implementation with all unit tests i had in the basic utils package and I wrote a lot of new unit tests in the Pointycastle package.

But as always, there is one special scenario that is not yet tested ...

[2021-04-21 10:51] matehat commented on #69
Have you looked at the PR? Maybe it'd be more constructive to discuss there? Your comment seems out of date with the current situation.

[2021-05-06 09:53] bottee commented on #95
This issue is important to be able to write interoperable app. It would be great if this could be addressed soon!

[2021-05-13 20:45] domindx commented on #90
Hello again,
I wasn't able to prepare faulty PEM file, but I've added UT scenario which cover the issue I am encountering.

So in my case when the sequence have **7F** length the start position seems to be calculated in the way that library is trying to read data outside the buffer.

From my understanding the start position in this case should be the same as for length below **7F**. And actually i

[2021-05-19 08:37] mx1up opened #100 "Fortuna SecureRandom nextBigInt wrong bitLength"
Hi,

Asking the nextBigInt with a certain bit length on the fortuna secure random does not always yield an int of the requested bit length. Is this normal?

I wrote a test to demonstrate:
https://github.com/mx1up/pc-dart/commit/a148d66ff7ca096fb87e77047846ddac6b4f5732

sample output
[code]
please have a look

[2021-05-21 14:59] oleg-ilechko opened #101 "How use public key which is in string format?"
I have this Java code which encrypts data with public key:
[code]
Is it possible to implement such thing with PointyCastle? My main issue is how should I use my public key which I receive as string to perform encryption with PointyCastle API

[2021-05-22 05:00] AKushWarrior commented on #101
Yes, it's possible. You need the dart:convert library:
[code]

[2021-05-22 15:06] oleg-ilechko commented on #101
My bytes should be converted to RSAPublicKey object in some way? I see it is used in every example

[2021-05-23 21:36] EPNW opened #102 "Provide an abstract ByteBasedSecureRandom"
We could implement an abstract class `ByteBasedSecureRandom` that extends [SecureRandom](https://pub.dev/documentation/pointycastle/latest/api/SecureRandom-class.html) and implements all of it functions based on `nextBytes`. Then, it is easy to extend this `ByteBasedSecureRandom` with a custom algorithm that puts out bytes.

I'm thinking about something like
[code]

While this might be slow (espec

[2021-05-23 21:40] EPNW commented on #22
A while ago I implemented [OCB in dart](https://github.com/EPNW/dumble/blob/master/lib/src/crypto.dart), maybe this could be a starting point?

[2021-05-23 22:16] AKushWarrior commented on #102
We should have something like this for sure. I'll take a look.

By the way, just a note: that first snippet can be sped up using direct array access and bitwise operators.

[2021-05-24 12:26] oleg-ilechko commented on #101
So I don't understand how to convert this lines into Dart:
[code]

[2021-05-27 18:42] pedrofneves commented on #96
same here, after update to the nullsafety version all my unit tests using EC fails...

[2021-06-04 00:47] mwcw opened #105 "Version 3.1.1 has been released"
Hi,

Version 3.1.1 has been released.

MW

[2021-06-08 08:55] JChrist opened #106 "Error parsing ASN1"
Trying to parse the following public key (in PEM format) results in an error for unsupported tag 100.
However, there doesn't seem to be any such tag in it (asn1lib parses it).
Also, a quick visualization doesn't reveal anything too exotic with it:
[code]

[2021-06-14 14:55] nicolasgarnet opened #107 "Grain128a engine"
Hi,

I see that the grain128a stream cipher is available in the original java bouncycastle.

Is there any plan to implement it here as well ?

Thank you,

[2021-06-17 02:28] gmpassos commented on #23
FYI: https://github.com/bcgit/pc-dart/pull/108

[2021-06-17 05:17] gmpassos commented on #23
FYI:
- https://github.com/gmpassos/argon2
- https://pub.dev/packages/argon2

[2021-06-17 16:40] AKushWarrior commented on #107
It doesn't look too complicated; I can try giving it a shot. Reference implementation: https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/engines/Grain128Engine.java

[2021-06-22 15:19] nicolasgarnet commented on #107
It would be great, thank you.

[2021-06-28 11:26] Ephenodrom commented on #90
@mwcw I created a PR to fix the calculation of the start position.

[2021-06-28 11:52] Ephenodrom commented on #106
Hello JChrist, this is the same error that is mentioned in #90. An PR #111 already exists. Once the PR is merged and a new version is live, you can parse the above mentioned PEM. I already tested parsing it with the PR code.

[2021-06-29 01:56] mattmaddux opened #112 "Fails to build for web"
Attempting to build for web throws the following errors:

[code]

Here's another issue with same base problem: https://github.com/Naddiseo/dart-sprintf/issues/13

[2021-06-29 03:39] mwcw commented on #112
Ok, this is a problem.

Integers are limited to include all integers between -2^53 and 2^53 when compiled to JS.

Given the argon2 implementation relies on Uint64List it will be impossible for it to build a correct result on JS.

Thoughts?

MW

[2021-06-29 04:56] AKushWarrior commented on #112
A few options:
- https://pub.dev/packages/fixnum the Dart team has this library, which normalizes 64-bit integers across platforms using two, 32-bit castrated integers. Replacing Uint64List with List<Int64> should work (theoretically).
- We can use conditional imports to build a library that returns JS code when compiled for web and Dart code when compiled for native.
- We can internally hack on s

[2021-06-29 05:52] mwcw commented on #112
Hi,

I am in the unenviable position of not getting enough time to focus on this.

I think in the short term web users cannot use argon2, it is not going to give them the same results as running on a platform with actual support for 64 bit numbers. Anyhow.

I have been using dart2js to build it using:

[code]

I can mute (not fix) the overflow failures using  ``` static const int M32L = (0xFFFFFFF

[2021-06-29 14:43] Ephenodrom commented on #90
@mwcw Any information about the release date of the next version :)?

[2021-06-30 02:10] helixs commented on #112
I have the same problem！

[2021-06-30 02:34] mwcw commented on #112
Update:

I have dealt with the compilation issue but blindly releasing that would hide a bigger issue of integer mal-representation on platforms that only support IEEE 754 double precision numbers that cannot safely represent for example, positive integers > 9007199254740992.

I am in the process of applying a platform specific assertion to the transformations that fail their tests when running on

[2021-06-30 12:30] mwcw commented on #112
Ok,

I have pushed to master code that will compile on web, Argon2 and Poly1305 will now assert that they have access to a full 64bit integer.

I would appreciate it if people wouldn't mind building the master branch and running the tests.

VM:
```pub run test -r expanded ```
JS:
```pub run test -p chrome -r expanded```

Let me know how you go, I would be interested to know how much of this librar

[2021-07-01 10:14] alextekartik commented on #112
FYI, Personally I use it in a node environment (firebase cloud function, alibaba function compute)! I know that is not a standard usage...I encountered the same issue. I also use it for testing in flutter projects, and it fails for flutter web too.

I tried on the latest master branch:
[code]

Both failed. Some new implementation could be removed from js (if too complex to implement) using conditi

[2021-07-02 12:40] vellarod commented on #112
I'm using web3dart. it would be ideal to work in browsers

[2021-07-02 12:41] mwcw commented on #112
Ok I have pushed another update to master.

The issue on node js was dart not being able to find a source of entropy, I have added logic to call node's crypro library.

On my machine (osx) and on our CI (Ubuntu linux) using:

[code]

Let me know how you go.

[2021-07-02 14:57] alextekartik commented on #112
It works for me too, great!

[2021-07-02 19:43] tjcampanella opened #113 "Extremely slow RSA key generation on web"
I am unsure if I am doing it wrong or something, but on the web using the function below to generate a RSA key pair takes over a minute if it even finishes it freezes the entire UI during the process. I have tested and I know for a fact it is getting stuck at this function. I know I could be doing this in an isolate however, the way I am generating the keys now is when a new user signs up and then

[2021-07-02 20:06] AKushWarrior commented on #113
Cc @mwcw: didn't you change JS random number generation? Maybe the issue is direct usage of the entropy source; we can probably seed Fortuna with the source instead and then pull from that, which should be faster.

[2021-07-02 20:12] AKushWarrior commented on #113
@tjcampanella I would recommend investigating the isolate idea to work in the background, at least as a hotfix to avoid freezing UI. I have an idea for an internal fix (above), but I'm not sure how feasible it is.

[2021-07-02 20:22] tjcampanella commented on #113
@AKushWarrior Thank you for the quick response, I appreciate you and the rest of the contributors on making a great package. I will see what I can do with an isolate.

[2021-07-02 20:58] AKushWarrior commented on #113
@tjcampanella the issue might be in your code, actually. I noticed that you have `SecureRandom secureRandom` in your parameters; are you generating a new instance of SecureRandom each time you create a keypair? That would call the underlying Node.js seed generation more often than necessary.

Otherwise, I'll keep looking. It looks like rsa keygen isn't calling the seed method, so the only slowdown

[2021-07-02 21:05] tjcampanella commented on #113
@AKushWarrior This method is only called when a new user signs up. So it would normally just be getting called once per device, unless the user decides to make more than one account. And I am seeding it just doing that elsewhere and I know it gets past that part in a reasonable time. It gets stuck in this function.

[2021-07-03 00:32] mwcw commented on #113
Hi,

I am seeing 8ms to 12ms generations times with the following on node on my own machine.

[code]

Let me know how you go.

[2021-07-03 00:48] tjcampanella commented on #113
@mwcw I haven’t tried the code yet, but don’t you need to call the generateKeyPair method? Otherwise it isn’t generating the pair right?

[2021-07-03 00:52] mwcw commented on #113
Sorry yes, that was an own goal.

Yes it does take a long time.

[2021-07-03 00:54] tjcampanella commented on #113
@mwcw No worries. You just got me excited for a second there lol.

[2021-07-03 01:05] mwcw commented on #113
Ok that took about 370 seconds.

A 2048 bit key is taking between 6 and 8 seconds.

I cannot offer you an solution off the top of my head, I'll need to take a solid look at it.

MW

[2021-07-03 01:09] tjcampanella commented on #113
@mwcw Are you running on chrome in release mode or debug mode? Also I tried using 2048 earlier and it was still taking a while is there something noticeably different with the code I used?

[2021-07-03 01:16] mwcw commented on #113
I just hacked up one of the tests, running it using:

pub run test -p node test/key_generators/rsa_key_generator_test.dart

I just had a run at 28 seconds on node and  12 seconds on chrome.

Those times makes it impractical.

[2021-07-03 02:01] tjcampanella commented on #113
Do you have any ideas about why there is such a difference in performance across mobile to web. On mobile it takes a couple seconds vs on web taking much longer. I am just wondering what are my options to run and use the library in the most performant way. Thanks for looking into this.

[2021-07-03 13:16] EPNW commented on #113
I'm also using 4096bit keys, but on android, not on web. I've isolated the workload, maybe you wan't to take a look:
https://github.com/EPNW/flutter_identity_manager/blob/2d61457c409f791d1460610f272762a56bafa047/flutter_identity_manager_android/lib/src/rsa_key_pair.dart#L36-L57

Even on android, key generation takes about 5 seconds. I wonder if using an other random (like the on from dart directly

[2021-07-03 14:49] AKushWarrior commented on #113
I have a sneaking suspicion that random number generation is not the culprit here, because it wouldn't be much slower on web than native, and the issue would not be localized to RSA. The issue might be BigInt arithmetic; RSA key generation is one of the only algorithms that uses BigInt, so that would explain why the issue is so localized.

Would someone who has a testing setup mind profiling the k

[2021-07-03 14:52] AKushWarrior commented on #113
The issue is that Dart's random (even Random.secure()) is non-specified and thus somewhat dangerous to rely on for cryptographic purposes. I think that the benefit probably outweighs this (relatively nitpicky) concern, but Fortuna is not significantly slower than Random.secure() anyways, so there wouldn't be a performance bottleneck there.

[2021-07-03 15:02] EPNW commented on #113
Maybe you could copy that to #110 so we can do the dart Random discussion there and stopp abusing this issue 😄

[2021-07-03 15:05] AKushWarrior commented on #113
Good point... :)

[2021-07-03 15:16] EPNW opened #114 "Is seeding wrong?"
While reading [tutorials/rsa.md](https://github.com/bcgit/pc-dart/blob/master/tutorials/rsa.md)
[code]
I noticed that `seedSource.nextInt(255)` is used for seeding. Since in dart [`Random.nextInt()`](https://api.dart.dev/stable/2.13.4/dart-math/Random-class.html) is exclusive, it should in my opinion be `seedSource.nextInt(256)` to cover the whole value range of a unsigned 1 byte integer.

If you

[2021-07-04 05:19] joo commented on #112
Please release.

[2021-07-04 11:26] okan-oz commented on #112
Please release,I have the same problem.

[2021-07-05 01:38] mwcw commented on #114
Hi yes

You are right about the ```.nextInt(255)``` and

We discovered it independently when abstracting away calls to Random.secure.

the reason for ```return Platform.instance.platformEntropySource().getBytes(32);```

Is because on the nodejs runtime it fails to find Random.secure and  a source of entropy needs to be sourced from the underlying platform.

Has the SecureRandom in this pull reques

[2021-07-05 05:53] EPNW commented on #114
I'll leave this issue open until the tutorials are updated with the new code 😄

[2021-07-05 05:58] mwcw commented on #114
Lol.. I am just waiting for it to sync it up then I will do a release.

MW

[2021-07-05 06:33] ArpanaSwarnkar commented on #112
Hi, when can we expect the new release v3.2.0. I am facing the same issue from yesterday.

[2021-07-05 14:43] mattmaddux commented on #112
@ArpanaSwarnkar If you need to get going now and you don't need to use Argon2, you can list version 3.1.1 directly in your pubspec.yaml and it will build to JS and run just fine.

[2021-07-05 19:38] mwcw opened #115 "3.2.0-rc0 is released"
Hi,

Please try it and let us know how you go.

MW

[2021-07-05 19:48] mwcw commented on #114
See: https://github.com/bcgit/pc-dart/issues/115

[2021-07-05 19:48] mwcw commented on #112
Released: https://github.com/bcgit/pc-dart/issues/115

[2021-07-05 19:51] mwcw opened #116 "Announcement mechanism"
Hi,

How are dart project users normally notified of updates, releases etc?

For other projects we have it is a mailing list for announcements.

MW

[2021-07-06 15:20] jimmyff opened #117 "Parsing certificate (for Firebase JWT verification)"
I'm attempting to verify Firebase JWT tokens in my cloud function (running on cloudrun). I'm following the guidelines here ( https://firebase.google.com/docs/auth/admin/verify-id-tokens#verify_id_tokens_using_a_third-party_jwt_library ) which say grab the public key here:
https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com

The JSON contains PEM certificates an

[2021-07-06 16:15] jimmyff commented on #117
I managed to solve my problem using the `package:jose`

[2021-07-06 16:15] #117 closed

[2021-07-07 03:20] AKushWarrior commented on #116
I don't believe there's a standardized system; a mailing list sounds like a decent idea (though I don't know that we'd necessarily see a lot of traction).

[2021-07-07 20:30] tjcampanella commented on #113
@AKushWarrior @mwcw Have either of you thought about possible solutions to this? I am unsure how to handle the long times on the web. I don't want to have to use 2048 bit keys.

[2021-07-07 21:25] #114 closed

[2021-07-07 23:17] mwcw commented on #113
Generating 4096bit keys is a heavy operation that is usually done a lot closer to the machine than where js normally sits. As has been pointed out it is a 5 second generation time on Android and I know that implementation is a thin java wrapper that offloads to the work to native code.

I was considering doing an experiment and reaching out to either crypto on nodejs, or the crypto web api that se

[2021-07-08 00:25] AKushWarrior commented on #113
@mwcw if we're offloading work through interop, we should probably use WASM to get closer to native performance. I can investigate that.

[2021-07-08 00:49] tjcampanella commented on #113
Generating them on mobile taking a few seconds I think is fine. The problem is on web taking minutes. I know there is another package called fast_rsa. I don’t believe you can seed their key generator though. Maybe you guys can find some insight from that package? I haven’t looked at their code or anything just the name saying fast_rsa is why I mention it. May be worth while I’m not sure. I appreci

[2021-07-08 04:32] AKushWarrior commented on #113
Is fast_rsa... faster than pointycastle? On web?

I can take a look and do a rough diff of the code, but I don't want to waste my time chasing a red herring when that could be spent figuring out a JS interop solution.

[2021-07-08 05:32] tjcampanella commented on #113
@AKushWarrior I don’t know if it is or not I just saw it and figured it would be worth mentioning. I haven’t done any comparisons as of now.  I am just suggesting a potential lead.  I will be looking into this issue more myself in the coming days.

[2021-07-08 06:24] AKushWarrior commented on #113
Yup, makes sense. If you do end up getting around to doing a comparison, let us know; it's possible that this is a bug in our particular implementation of RSA keygen, but it's hard to pinpoint it without a working example.

[2021-07-08 11:28] Ephenodrom commented on #116
Normally you would use something like the command line tool "dart pub outdated" (https://dart.dev/tools/pub/cmd/pub-outdated) to see if there are any new versions of packages used in your project. But there is still no mechanism to inform the user directly. Maybe this would be a good idea for a feature request to pub.dev (https://github.com/dart-lang/pub-dev).

[2021-07-08 16:41] anas-abdrahman commented on #115
Now web support works fine for me. thanks

[2021-07-09 21:33] tjcampanella commented on #113
@AKushWarrior The fast rsa web implementation seems to be running in web assembly directly. That is probably their claim to fame and why they used fast in their plugin title. I will do a comparison soon and show the results here.
![Screen Shot 2021-07-09 at 5 29 41 PM](https://user-images.githubusercontent.com/63162558/125137715-40874a80-e0db-11eb-927b-25f5c9c95bc5.png)

[2021-07-09 21:44] AKushWarrior commented on #113
That's essentially what I'm proposing above. WASM is way faster than anything else on web (JS or transpiled Dart, more or less the same thing).

[2021-07-09 23:19] tjcampanella commented on #113
@AKushWarrior I tested their generation for a 4096 key and it still took about a minute on web. It seems like generating 4096 bit keys on the web isn't feasible. I may have to switch to using 2048 bit keys.

[2021-07-09 23:56] AKushWarrior commented on #113
Well, it's FEASIBLE, as long as you wrap it in a model of concurrency; if you return to the isolate idea, that might be the best "solution". If the UI is completely dependent on the key, then yeah; 4096 bit RSA key generation is just too computationally intensive to work in that situation.

[2021-07-10 00:04] tjcampanella commented on #113
Isolates on the web aren’t as easy as just calling the compute function on mobile. I will have to do some research on how to do it. Either way I am generating the keys at user sign up and I guess I can have it work in the background and then once they are ready allow the users to private message, but I didn’t wanna have to do that. I will have to figure something out.

[2021-07-10 04:09] tjcampanella opened #118 "EC encryption and decryption"
Is there any EC engine for encrypting data with elliptic curve keys? I couldn’t find anything in the api reference. Thanks for any help.

[2021-07-10 05:34] AKushWarrior commented on #118
https://pub.dev/documentation/pointycastle/latest/api.ecc/api.ecc-library.html

[2021-07-10 14:51] tjcampanella commented on #118
@AKushWarrior I don’t know if I am missing something, but I don’t see any way to encrypt data with it. Just ways to get the keys.

[2021-07-10 15:11] AKushWarrior commented on #118
Oh, yeah. This was done before I joined the project, so I'm not the most familiar.

It looks like the BouncyCastle engine is split across a bunch of files, but the entry point is https://www.github.com/bcgit/bc-java/tree/master/core%2Fsrc%2Fmain%2Fjava%2Forg%2Fbouncycastle%2Fcrypto%2Fec%2FECElGamalEncryptor.java

[2021-07-10 16:05] tjcampanella commented on #118
Oh ok so this isn’t yet implemented for pointy castle. Thank you. I will look into implementing it myself.

[2021-07-10 16:15] AKushWarrior commented on #118
If you do, submit a PR! I have a feeling a lot of people would want/need this work.

I'll also use this issue as tracking if we get around to implementing this.

[2021-07-10 20:00] tjcampanella commented on #118
I just forked a package I found doing this and I updated it for null safety and such. Would you mind taking a look and seeing what you think: https://github.com/tjcampanella/secp256k1Cipher.

[2021-07-20 07:06] #96 closed

[2021-07-20 17:55] AKushWarrior commented on #96
@redDwarf03 is this fixed? Why did you close the issue?

[2021-07-20 21:33] redDwarf03 commented on #96
I close this issue because it's better to use this library: https://pub.dev/packages/elliptic
For 2 reasons: this lib works and the project is more reactive than PointyCastle

[2021-07-26 14:46] KevinCCucumber opened #122 "argon2.dart has a number that cannot be represented in javascript"
Hey, I just implemented OpenID into my app and now I get this error when launching on the web:
[code]
Is there any other Information you need?

[2021-07-27 23:53] mwcw commented on #122
Hi,

This was fixed and is in the last rc.

MW

[2021-07-27 23:53] #122 closed

[2021-07-27 23:55] #112 closed

[2021-07-27 23:56] #106 closed

[2021-07-28 00:33] #87 closed

[2021-07-28 00:34] #72 closed

[2021-07-29 03:42] #116 closed

[2021-07-29 03:43] mwcw opened #123 "Release 3.2.0"
Hi,

Bucket issue for release 3.2.0.

MW

[2021-07-29 23:55] XanderNuytinck opened #124 "Support for AES/CFB8"
Pointy castle does not support AES/CFB8 (only AES/CFB64)

I am aware that CFB8 is outdated, but some people including me still require it.
Thanks

[2021-08-04 09:44] jumbo1907 commented on #124
Thank you
I appreciate you helping.

[2021-08-04 10:02] Paradoxu opened #126 "Full width int not supported on web"
I took this example from the Argon2 test:

[code]

But when I use it on the chrome emulator I get this exception:

[code]

And when I try it on an android device I get this error:

[code]

Am I calling the library with wrong parameters? If so, how should I use it?

**Flutter version:** 2.2.3
**Windows**: 10
**Android**: 11
**Chrome version**: 92.0.4515.107

[2021-08-04 10:13] XanderNuytinck commented on #124
Thank you
I appreciate you helping.

[2021-08-04 10:13] #124 closed

[2021-08-04 22:18] AKushWarrior commented on #126
Argon2 is not supported on web currently; it requires 64-bit integers, and we have no way to simulate that behavior.

The Android one is a bug.

[2021-08-04 22:36] Paradoxu commented on #126
Shouldn't be possibile to use the BigInt to represent such large numbers? 🤔 never tested but both Dart and JS has this class to represent integers larger than 2^53-1

[2021-08-06 06:37] licy183 commented on #118
I just submit a pull request #127. Maybe it helps.

[2021-08-06 16:23] AKushWarrior commented on #118
@mwcw I reviewed and this looks merge-ready to me.

[2021-08-12 04:16] mwcw commented on #118
Yes, sorry about the delay.

[2021-08-13 03:16] licy183 opened #128 "class [Register64] may have wrong result on web platform"
I tried to implement argon2 on web platform, using the `Register64` class in our package and got some error. So I have reviewed the code of `Register64` class in `src/ufixnum.dart`, the `Register64.mul` function states the code following.

[code]

Dart2js will compile Dart `int` class as Javascript `Number`, which is implemented as double-precision floating-point format numbers according to the IE

[2021-08-13 11:10] licy183 commented on #128
PR: #130

[2021-08-17 19:50] JacoFourie opened #131 "How to decrypt a string encrypted with Python."
Hi.

Sorry to bug you. I need to decrypt some data that is encrypted in Python using Blowfish.

Here is the Python code that will create a encrypted base64 string. I need the Dart code to decrypt it. Can somebody please help me with it?

`#!/usr/bin/python
from Crypto.Cipher import Blowfish
import base64

blocksize = Blowfish.block_size
keystr = b'this is my key'
iv = b'abcdefgh'

cipher = Blowfis

[2021-08-18 02:01] AKushWarrior commented on #131
This library doesn't support the Blowfish algorithm, primarily because that algorithm is trivially broken. There is limited value in backward compatibility, but it's probably not a good investment of developer resources at this point to add the algorithm.

[2021-08-18 02:06] AKushWarrior commented on #131
Hi, sorry, I wrote and deleted an earlier comment which was generally inaccurate about the state of Blowfish. We don't currently support Blowfish in this library; below is my justification for why adding Blowfish might be a poor use of developer resources.

- Though no effective cryptanalysis exists on full-round Blowfish, it uses a 32-bit block size, which is generally considered insecure in a mo

[2021-08-18 10:22] JacoFourie commented on #131
OK does it support the rijndael algorithm?

[2021-08-18 10:43] JacoFourie commented on #131
Here is the Python code to use AES.

[code]

The output is

Encrypted Base64 String : zd3qRzdrFGsoxjJ2iJbTyw==

So what will the code be in dart to use AES to get  the text

zd3qRzdrFGsoxjJ2iJbTyw==

back to

This is my data

[2021-08-18 10:58] JacoFourie commented on #131
OK I got it working. Is this the best way?

[code]

[code]

[2021-08-18 12:25] licy183 commented on #128
Merged. Close this Issue.

[2021-08-18 12:25] #128 closed

[2021-08-18 15:20] AKushWarrior commented on #131
Yes, that would be the best way to encrypt using AES in PointyCastle.

[2021-08-18 17:50] JacoFourie commented on #131
OK thank you.

[2021-08-18 17:50] #131 closed

[2021-08-31 19:11] licy183 commented on #126
PR #133 may be helpful. But I think implementing argon2 in pure dart is not a good choice.

[2021-09-02 17:43] proninyaroslav opened #134 "Scrypt is very slow"
I implemented an `scrypt` based password hashing digest, but it turned out to be quite slow (around 2.5 seconds on the device and tests).

**Key length:** 32
**Salt length:** 16
**N:** 16384
**r:** 8
**p:** 1

[code]

How normal is this?

[2021-09-02 17:52] proninyaroslav commented on #134
Based on slide 17 of the `scrypt`  algorithm presentation, with the parameters given above, the calculation should take <=100ms
http://www.tarsnap.com/scrypt/scrypt-slides.pdf

![](https://user-images.githubusercontent.com/7840559/131892921-f06181d5-875e-4ae8-bccd-7a83c8d77441.png)

[2021-09-02 19:16] proninyaroslav commented on #134
On a real Android device, it turned out to be even slower (8 seconds), I tested it on the Flutter release build.

[2021-09-05 13:17] licy183 commented on #134
Please try this implementation. If it is fast enough, I will submit a PR.

[code]

[2021-09-05 15:04] proninyaroslav commented on #134
@licy183
Yes, it takes about 400ms in test.

[2021-09-05 15:50] licy183 commented on #134
PR #135 has been submitted.

[2021-10-17 11:35] epoberezkin commented on #69
@AKushWarrior

This can be mitigated with a major version change. Using SHA-1 makes encryption vulnerable - see the comment here - https://developer.mozilla.org/en-US/docs/Web/API/RsaHashedKeyGenParams

That might be ok as long as the default is secure. Preserving backwards compatibility in the face of existing security vulnerability is wrong.

I believe that this issue should be treated as a disc

[2021-10-28 09:27] raqeta opened #139 "Could you add Curve25519 sign algorithm?"
I found this implementation by k-s-t-i. It's works with Dart earlier version. Or I can create pull request later. Thanks :)
https://github.com/k-s-t-i/curve25519-dart

[2021-10-30 09:00] soatok opened #140 "[SECURITY] Timing Leakage in GCM Implementation"
https://github.com/bcgit/pc-dart/blob/08d1aaa920e4d00ddf94140f65f952cac48707d1/lib/block/modes/gcm.dart#L132-L137

This contains two timing leaks:

1. Branch prediction-based (`if`)
2. Functions are only called if a bit is set

Recommendation: Implement a [constant-time conditional select](https://soatok.blog/2020/08/27/soatoks-guide-to-side-channel-attacks/#conditional-select), so the algorithm l

[2021-10-30 09:10] soatok opened #141 "[SECURITY] AES is Susceptible to Cache-Timing Attacks"
Source code:

* https://github.com/bcgit/pc-dart/blob/08d1aaa920e4d00ddf94140f65f952cac48707d1/lib/block/aes_fast.dart#L131-L219
* https://github.com/bcgit/pc-dart/blob/08d1aaa920e4d00ddf94140f65f952cac48707d1/lib/block/aes_fast.dart#L230-L317

The core problem here is the use of a table look-up, which leaks your AES keys through cache-timing.

Relevant papers:

* https://cr.yp.to/antiforgery/cach

[2021-10-31 10:01] epoberezkin opened #142 "[bug?] AES/GCM produces different result from webcrypto (and from Haskell cyptonite library)"
Example to reproduce is below. Sorry it's 4096 bytes block, occasionally, depending on the data, the difference starts in the beginning of the block, but usually it is closer to the end of the block...

[code]

[code]

`expectedH` is the encryption result produced by Haskell cryptonite library, it consistently matches the result from JS webcrypto. pointycastle result consistently does not match bo

[2021-11-01 19:17] AKushWarrior commented on #141
Okay, so this is a general issue with S-box based AES implementations; notably, the correspondent AES implementation from Bouncy Castle is deprecated with the notice that it [should not be used when close observation is possible](https://github.com/bcgit/bc-java/blob/9f95e5c710732bd8c703299b9d5ca1eea6f1317c/core/src/main/java/org/bouncycastle/crypto/engines/AESFastEngine.java#L33).

[This implemen

[2021-11-02 13:05] soatok commented on #139
Curve25519 is ECDH, not a signature algorithm.

You want Ed25519.

[2021-11-02 23:03] mwcw commented on #141
Hi,

I'll port AES engine over and get it tested and released ASAP.

MW

[2021-11-03 10:19] mwcw commented on #141
The AESEngine from bc-java has been ported in as a replacement and version mentioned here replaced.

A release 3.4.0-rc1 has been created.

MW

[2021-11-03 10:27] soatok commented on #141
Don't forget to fix #140 in the same go. (It's a smaller diff than porting a new engine from Java,, and is also important for the security of AES-GCM.)

[2021-11-04 07:34] mwcw commented on #140
Hi,

Thanks a lot for reporting this issue, release 3.4.0-rc2 should address it.

MW

[2021-11-04 07:36] mwcw commented on #142
Hi,

Sorry for not commenting earlier, I was away until midweek.

Thanks for reporting this issue, release 3.4.0-rc2 should fix it for you.

Let me know how you go.

I'll do a non candidate release in a day or so should all be well.

MW

[2021-11-11 21:58] mwcw commented on #140
https://github.com/bcgit/pc-dart/releases/tag/v3.4.0

[2021-11-11 21:58] #140 closed

[2021-11-11 21:59] mwcw commented on #141
https://github.com/bcgit/pc-dart/releases/tag/v3.4.0

[2021-11-11 21:59] #141 closed

[2021-11-11 21:59] mwcw commented on #142
https://github.com/bcgit/pc-dart/releases/tag/v3.4.0

[2021-11-11 21:59] #142 closed

[2021-11-11 22:06] epoberezkin commented on #142
Great, thank you for fixing it!

[2021-11-11 22:18] epoberezkin commented on #142
Btw, I was already using this fork that improves OAEP: https://github.com/bcgit/pc-dart/pull/98

Any chance we could merge it in - it seems completely backwards compatible to me and maybe only misses some docs…

@mcmw It would be great to connect, because to me the issues we were encountering with cryptography were the main concern to use Flutter/Dart as a platform for our simplex.chat mobile app,

[2021-11-14 08:34] gmpassos opened #143 "Request for Schnorr signature."
With the advent of Bitcoin taproot and probably a wide adoption of Schnorr signature, it will be very important to this package to have support for this.

Currently there’s an implementation of Schnorr (MIT license) at: https://github.com/C0MM4ND/dart-schnorr

It works but needs a review to see if it’s a complete and correct implementation. Also it will need to use the EC of PC.

If anyone is work

[2021-11-28 15:13] wangjiejacques opened #144 "Incorrect blockSize for AES/CBC examples"
In both the [aes-cbc-registry.dart](https://github.com/bcgit/pc-dart/blob/99fb02636eb2c794bc0bd03ea12b1289f0b71b91/tutorials/examples/aes-cbc-registry.dart#L327), [aes-cbc-direct.dart](https://github.com/bcgit/pc-dart/blob/master/tutorials/examples/aes-cbc-direct.dart#L328), they use 128 as the pad blockSize,
[code]
But this is incorrect, the [blockSize](https://github.com/bcgit/pc-dart/blob/e5cd4

[2021-11-29 06:13] mwcw commented on #144
Hi,

Thanks this has been fixed and will be merged shortly.

MW

[2021-11-29 06:13] #144 closed

[2021-12-03 11:18] nambv commented on #63
hi @redDwarf03 can you share me the code that you resolved this issue? I am stucking on this. Thank you

[2021-12-03 13:17] redDwarf03 commented on #63
hi @nambv
I didn't use PointyCastle finally...

I used ```https://pub.dev/packages/crypto_keys```

here is my code
[code]

[2021-12-03 13:55] nambv commented on #63
Thanks a lot @redDwarf03 !!! I will try it 👍

[2021-12-03 14:26] nambv commented on #63
Thanks a lot @redDwarf03 ! It's totally worked 🚀 !!!! I appreciated

[2021-12-20 03:17] writethesky commented on #87
It is very poor in real-time encryption and decryption of video streams and large files, encryption and decryption of ordinary files do not feel. At present, it is used for RSA encryption and decryption. AES uses cryptography, Performance doubled, but still used more CPU on MacOS

[2021-12-20 03:23] mwcw commented on #87
No it does not use any hardware acceleration it is a pure dart implementation.

[2021-12-28 04:34] arnirichard opened #146 "Unable to decrypt RSA encrypted data"
I am generating asymmetric key in C# and encrypting in Flutter using the public key, but decryption back fails in C#

in C#:

`RSACryptoServiceProvider algorithm = new RSACryptoServiceProvider(2048);`
`var param = algorithm.ExportParameters(false);`
`byte[] modulus = param.Modulus;`
`byte[] exponent = param.Exponent;`

modulus and exponent (65537) are used to create public key in Flutter, for encr

[2021-12-28 16:40] licy183 commented on #146
Hello. I could encrypt and decrypt data properly between C# and pointycastle. Following are my codes and outputs.

[code]

[code]

[code]

[code]

[2021-12-29 00:45] arnirichard commented on #146
Thanks, I found out that the converter function `readBytes` was incorrect. A correct implementation is below

`static BigInt decodeBigInt(List<int> bytes) {
		BigInt result = new BigInt.from(0);
		for (int i = 0; i < bytes.length; i++) {
			result += new BigInt.from(bytes[bytes.length - i - 1]) << (8 * i);
		}
		return result;
	}`

[2021-12-29 00:45] #146 closed

[2022-01-19 08:16] MohsenHaydari opened #148 "aes delay in procsess"
Hi, I have a problem with the performance of the program in this package, when the cipher stream starts processing, the application Ui freezes, for example, scrolling does not work for a few milliseconds, it depends on the amount of data being encrypted, there is a solution to this problem has it. ? My problem with the future and compute isolate was not solved

[2022-01-19 09:57] MohsenHaydari commented on #148
Sorry I closed it by mistake

[2022-01-30 15:54] d1mpi opened #153 "RSA support for Russian characters"
Hello everyone, I'm using this code from the example,
and there is a problem that Russian characters are displayed like this: "Привет - @825B".
[code]

I've been racking my head for several hours, does anyone have a ready-made implementation?

[2022-01-30 16:17] d1mpi commented on #153
Fixed.
[code]

[2022-02-02 08:39] Cobinja commented on #82
Is there any news on this?

[2022-02-08 19:23] Justinjj10 commented on #101
@oleg-ilechko I am facing the same issue here. Did you get any solution? Appreciate it if you share the code here. I had tried the pointycastle code, but it won't work properly

`String encrypt(String plaintext, String publicKey) {

    var pem =
        '-----BEGIN RSA PUBLIC KEY-----\n$publickey\n-----END RSA PUBLIC KEY-----';
    var public = CryptoUtils.rsaPublicKeyFromPem(pem);

    /// Inita

[2022-02-09 00:28] xros opened #154 "Can you add PSS support?"
When signing data, people recommended to use PSS method rather than PKCS1v15
I saw Pointy Castle is still using PKCS1v15.

 https://cryptography.io/en/latest/hazmat/primitives/asymmetric/rsa/#signing
Valid paddings for signatures are [PSS](https://cryptography.io/en/latest/hazmat/primitives/asymmetric/rsa/#cryptography.hazmat.primitives.asymmetric.padding.PSS) and [PKCS1v15](https://cryptography.i

[2022-03-04 14:47] AlbanDurrheimer opened #155 "Add secp521r1 in ObjectIdentifiers"
Hello,

`secp521r1` is missing in `oi` of the `ObjectIdentifiers` class:
[code]

[2022-03-07 06:53] #155 closed

[2022-03-15 06:02] MetaiR opened #157 "decrypt huge aes-ctr encrypted file"
hi,
first of all I am pretty new in flutter stuff so please forgive me if my question seems dumb to u

I want to decrypt huge files (the average size is around 500MB ~ 1GB).
I am using this code to read file as stream and decrypt it but I don't know if this is ok or not and need some help if it can be achieved differently:

this is my code:

[code]

[2022-03-29 14:33] ryou90 commented on #113
Is there any new information on this?

[2022-04-08 01:12] willbinge commented on #126
Are there plans to make a similar fix for Poly1305, which still has the calls to assertFullWidthInteger?

[2022-04-18 23:21] KODA-Christian opened #159 "ECDSA Signature validation with base64 strings"
Hi!
I need help verifying an EC signature which is a base64 string with the public key that is also a base64 string.
Something like:

Signature: MEUCIBYmubxYx/Q5CWiKwbfxgZs8KXaB+KEW59izRU8IPbROAiEA3YPVuD2TxpJeQ8gZLUfFfNgrr96orTjTwEXy4mQQqqI=

Public Key: -----BEGIN PUBLIC KEY-----
MFYwEAYHKoZIzj0CAQYFK4EEAAoDQgAEN3ISIC6bUzVqAfbHnAl7iIO3le9UAqYM
wymvYSQTxQQWr8mgc498BRjZqtEfnpRn95DpCxMJwcvPkwm4PFo/j

[2022-04-21 19:50] tallinn1960 commented on #159
The signature looks like DER-encoded ASN1. It is an ASN1 Sequence of the two ASN1 Integers r and s, which constitute an ECSignature.

[code]

The Key is a SubjectPublicKeyInfo ASN1-Structure. Decoding this for an ECPublicKey is way more complicated. On the top-level it is an ASN1 Sequence consisting of an AlgorithmIdentifier (with its own ASN1-Substructure) and an ASN1 Bitstring , which contains a

[2022-04-21 20:23] tallinn1960 commented on #159
For decoding the public key I found a less limiting helper package 'basic_utils' on pub.dev. It features a function
[code]
and seems to support all curves of pointycastle.

[2022-04-22 09:32] KODA-Christian commented on #159
First of all thanks to you @tallinn1960,

My biggest problem was with converting to ECSignature, ECPublicKey,...

Looks great, I'm checking that out and will give feedback very soon.

Again, I really appreciate your help.

Thanks and best wishes.

[2022-04-29 13:28] BenCherif commented on #113
any updates about this issue ?

[2022-05-29 13:18] sebastianbuechler opened #161 "Importing Platform"
I tested the example here: https://github.com/bcgit/pc-dart/blob/master/tutorials/rsa.md#generating-rsa-key-pairs for generating rsa key pairs. For the entropy source I imported `import 'package:pointycastle/src/platform_check/platform_check.dart' show Platform;` and then used `Platform.instance.platformEntropySource().getBytes(32)` as `key` parameter for initiating the `KeyParameter`.

Now the da

[2022-06-27 21:00] itzikkle opened #162 "RSA/ECB/PKCS1Padding"
hi,
although i have implemented RSA/PKCS1 Padding  ( SHA-256),
i can`t find a way of creating a private /public keys using RSA/ECB/PKCS1Padding..
is there a way of doing that using the library?
i try to create a client side JWT for mobile device authentication (i send the server the public key at first registration..)

[2022-07-07 14:12] santiago-parodi opened #163 "RSA OAEP encrypting with private key"
Why is using the private key to encrypt with RSA-OAEP not allowed?
I needed to sign some data with RSA-OAEP and SHA-256 but this feature is not allowed. Is this for a security reason?
Thanks in advance!

[2022-07-14 10:22] Ephenodrom commented on #159
@KODA-Christian @tallinn1960
Converting a EC Signature to base64 and verifying a base64 EC signature is now available with the package basic_utils 4.3.0.

Take a look at the implementation :

[code]

There is also an example on how to use the package for this case :

https://github.com/Ephenodrom/Dart-Basic-Utils/blob/master/example/elliptic_curve.dart

[2022-07-19 17:17] SzczurekYT opened #165 "Official ASN1 example not wroking, can't encode bit string."
In [ASN1 Encoding Tutorial](https://github.com/bcgit/pc-dart/blob/master/tutorials/asn1.md#encoding-asn1) there is an example.
When run the return of ```topLevelSeq.encodedBytes``` is null. From what I understand and tested you need to execute ```topLevelSeq.encode();``` first but then an error is thrown.
![image](https://user-images.githubusercontent.com/67533827/179810183-913caa8b-01df-4bab-924d

[2022-07-19 19:34] SzczurekYT commented on #165
I was able to rewrite this code to make it work. I'm gonna send it tomorrow, as it's a bit late today in my timezone.

[2022-07-30 07:03] SzczurekYT commented on #165
Sorry for veery late response, here is my working version, I changed the BitString part and also used some code for chunking as there were no StringUtils class.
In this example you just need to provide the public key and it will work.
[code]

[2022-08-04 14:37] Ephenodrom opened #167 "ECPrivateKey compability with OpenSSL/LibreSSL"
Hello,

I am facing a problem where the generated ec private keys are not accepted by LibreSSL 2.8.3

I created the private key using this library and created a PEM file out of it following the RFC 5915. After that I used the private key in the open ssl / libre ssl command to generate a CSR.

[code]

After that I try to verify the signature of the CSR.

[code]

I am currently stuck at finding out

[2022-08-05 07:13] Ephenodrom commented on #167
The ECPoint Q was calculated in the wrong way while converting the ECPrivateKey to PEM. OpenSSL just took over the ECPoint instead of calculating it while generating the CSR. After fixing the converting to PEM, everything looks fine.

[2022-08-05 07:13] #167 closed

[2022-08-05 07:50] mwcw commented on #167
Phew! I am glad it is sorted out.

I generated a set of ACVP test vectors for ECDSA signing, just for the NIST P curves for both verification and signing. Within the scope covered by those vectors the implementation passed.

I'll push them up next week I want to add a few more vector sets.

MW

[2022-08-05 08:05] Ephenodrom commented on #167
@mwcw
I also tried out a complete workflow of creating a ec private key, creating a csr, ordering some SMIME from DigiCert and packaging everything into a PKCS12 with OpenSSL und them using it within Thunderbird.

Everything worked as intended.

[2022-08-15 12:22] itzikkle opened #168 "Invalid RSA Public key PEM PKCS1"
hi,
im using RSA (2048) encryption.
after creating public and private keys, i create a PEM from both of them.
when i check the public key created - its not a valid PEM. what am i doing wrong?

String encodePublicKeyToPemPKCS1(RSAPublicKey publicKey) {
    var topLevel = ASN1Sequence();

    topLevel.add(ASN1Integer(publicKey.modulus!));
    topLevel.add(ASN1Integer(publicKey.exponent!));
    var d

[2022-08-16 13:51] Ephenodrom commented on #168
I recommend to check out my package at https://github.com/Ephenodrom/Dart-Basic-Utils and take a look at the implementation in the class CryptoUtils.

* PKCS1 format => https://github.com/Ephenodrom/Dart-Basic-Utils/blob/master/lib/src/CryptoUtils.dart#L297
* PKCS8 format => https://github.com/Ephenodrom/Dart-Basic-Utils/blob/master/lib/src/CryptoUtils.dart#L264

[code]

But it seems to match your

[2022-08-25 20:20] hootyjeremy opened #170 "Speed? I'm encrypting 100mb per 10 seconds..."
I am trying to encrypt files on a desktop with PointyCastle's AES/CBC block cipher but it seems very slow for me. It is taking about 10 seconds for a sample 100mb file. Is there any benchmark for how quickly the library should encrypt files? I have an example gist that shows my code if you want. You just need to change the input and output file names.

Should it take 10 seconds to encrypt 100mb?

[2022-08-29 09:53] fryette opened #171 "Treeshaking not working"
Seems because the library registers everything in one place tree-shaking does not work at all.

[2022-09-08 21:53] #170 closed

[2022-09-27 18:38] hootyjeremy opened #173 "Is AES/CBC slow? (sample included)"
I am interested in using this package but when I test encrypting 100mb with AES/CBC, it takes about 7 seconds in release mode on my machine. I know that speed on machines are relative so I have a gist of the example code here:

https://gist.github.com/hootyjeremy/97ccfe7b1203ac5160b4544a237b9b5a

`flutter: beginning encryption...
flutter: outputBytes.length: 100000000
flutter: stopWatchForCBC.elap

[2022-09-27 20:39] edwardmp opened #174 "Decrypt RSA-OAEP (SHA-256) with label"
Hi,

It's great that this library exists! I need to be able to decrypt a message encrypted with  RSA-OAEP (SHA-256) with a label, can anyone tell me how to specify the label?

Thanks in advance

[2022-10-01 07:47] maxjaglak commented on #173
Hello, you’re not alone :)

I use a similar implementation as you do and I also get similar results.

I’m getting around ~9 mb/s on my laptop (AES/CBC, 256 bits key, running flutter app in release mode, encryption itself in separate isolate), less than that on some slower phones, meanwhile AES/CBC in Java/Kotlin (same modes, same params, same devices) encrypts at 200-300+ mb/s (desktop) and 80+ mb

[2022-10-04 19:51] hootyjeremy commented on #173
Ah, I think I get it now after digging into the source code. aes.dart uses only one T-table, `_T0`, while aes_fast.dart uses four `_t0` to `_t3` where 1, 2, and 3 are rotated versions of `_t0`. This gains a performance increase, apparently. The other package I was testing, which has pretty quick throughput, also does this. I will try aes_fast.dart and check the results. I didn't try it at first be

[2022-10-04 20:33] hootyjeremy commented on #173
How did you get aes_fast.dart to work? I can't seem to get it to work.

I have created gist for the "cryptography" package example if you want to try it. It will encrypt 100mb the same way as the gist provided in the original post for pointycastle (https://gist.github.com/hootyjeremy/97ccfe7b1203ac5160b4544a237b9b5a). I can't seem to get aes_fast.dart to work right now so I can't compare it to thi

[2022-10-05 19:10] maxjaglak commented on #173
I’ve modified your AES/CBC gist to run with AESFastEngine:
https://gist.github.com/maxjaglak/65896f380d10027568c50b475d605d52

it gives me following results:
//AES / CBC / pointy castle / AESFastEngine
size: 100 mb
time.elapsed:  0:00:03.209223
speed 29.72 [mbps]

For comparison, same test, but with standard AESEngine, from Pointy Castle:
size: 100 mb
time.elapsed:  0:00:12.970145
speed 7.35 [mbps

[2022-10-06 01:00] hootyjeremy commented on #173
Thanks for the benchmarks. I'm not yet sure why pointycastle's implementation is slower than `cryptography`'s. I'm looking at that one right now and maybe I'll find something. The good thing about pointycastle is that padding is optional with aescbc which means I can process chunks and just pad the last block but the `cryptography` package pads it all in one shot and doesn't let you do chunks as f

[2022-10-09 07:23] maxjaglak commented on #173
I guess it’s about code optimization itself. I mean just compiling to native code doesn’t mean it’s optimal.
javax.crypto uses implementation of different providers, so its performance is dependent on what is actually being used.
I’ve found some posts that explains a little:
https://stackoverflow.com/questions/6101565/is-there-a-practical-way-to-determine-which-jce-crypto-providers-are-in-use
http

[2022-10-10 07:14] hootyjeremy commented on #173
Thanks for the info. I'll give these a read.

[2022-10-10 08:48] Ephenodrom commented on #154
I am also interested in this! *Bump*

[2022-10-18 12:39] satishfinovity commented on #69
![1647932677282](https://user-images.githubusercontent.com/114401574/196431646-93032fb2-f75e-4fcf-a2f7-0c7cd207a232.jpg)

[2022-10-23 11:01] noorbhatia commented on #60
@nateshmbhat did you find a way to decrypt using public key?

[2022-10-23 11:41] nateshmbhat commented on #60
No i couldn't

[2022-11-13 20:48] andromeda911 opened #177 "RIPEMD160 digest was broken in version 3.6.2"
Hi!

RIPEMD160Digest results in last version(3.6.2) are incorrect. Version 3.6.1 is great.

Example:

[code]

I looked at the commits, and it's probably the updated dependencies that are the problem?

Thanks.

[2022-11-14 03:17] mwcw commented on #177
Hi,

Thanks for the report..

[2022-11-16 23:43] mwcw commented on #177
Hi,

I have been unable to reproduce this on the 3.6.2 code base.

Using (Dart SDK version: 2.18.4 (stable) (Tue Nov 1 15:15:07 2022 +0000))

[code]

[code]

If you have a moment could you trying decoding the Message from above and passing that to the digest eg:

```createUint8ListFromHexString("68656c6c6f776f726c64")```

Before we go diving into the digest implementation we need to rule out  that

[2022-11-17 15:34] andromeda911 commented on #177
Hi.

I downloaded the pointycastle source code from pub.dev for both versions. Instead of the message "helloworld" used an array of 10 digits. I still get different results:

[code]
Outputs:

Running on Dart SDK version: 2.18.4 (stable) (Tue Nov 1 15:15:07 2022 +0000) on "windows_x64"

So here is pubspec.lock file for 3.6.2, mb it can help:
<details>
  <summary>pubspec.lock</summary>

[code]
</det

[2022-11-18 03:15] mwcw commented on #177
Hi,

Thanks for the extra information, using the source from pub.dev I set up both source bundles and using the array based example you supplied I was unable to generate an differeing digest.

I also upgraded the dependencies for the both and was sill able to generate the same digest, namely:

```99cf493cd47cea163f2872fd7ab15b8668562b96```

I also tried it with BC-JAVA and OpenSSL and got the abov

[2022-11-18 10:09] andromeda911 commented on #177
Reinstall flutter helps. Thanks and sorry for wasted time. GL

[2022-11-18 13:42] #177 closed

[2022-11-21 14:15] redDwarf03 opened #178 "Uint64List not supported in web mode"
Hello

i have this issue in web mode :
[code]

any idea ?
Thx

[2022-11-21 14:57] redDwarf03 commented on #178
[code]

[2022-11-21 22:09] mwcw commented on #178
JS has no native intger support only IEEE-754 floating point numbers and the dart team do not provide an analog for that during transpilation process.

In this case IEEE-754 can only represent a subset of unsigned 64 bit integers.

[2022-11-21 22:09] #178 closed

[2022-11-22 15:13] richardheap commented on #178
There seems to be a simple fix.
Change this line
var length = Uint8List.view((Uint64List(2)..[0] = iv.length * 8).buffer);

to
var length = Uint8List.view((Uint32List(4)..[0] = iv.length * 8).buffer);

Which would seem to be equivalent for all practical values of IV length.

[2022-11-22 15:43] redDwarf03 commented on #178
https://stackoverflow.com/questions/74523047/uint64list-not-supported-on-flutter-web/74526125#74526125

[2022-11-25 19:31] lavara123 opened #179 "How can I do that ? ? (AES)"
My problem is how can I do this with point castle?

https://github.com/dint-dev/cryptography/issues/122

[2022-11-27 13:08] #179 closed

[2022-11-28 23:21] #174 closed